<div class="header-container-wrapper">
  <div class="header-container">
    <a mat-button href="customer-ui/home" class="logo" alt="logo">
      <img [src]="dummy.PATH" class="image">
    </a>
    <div class="wrapper-right">
      <button mat-button href="customer-ui/home">
        Features
      </button>
      <button mat-button href="customer-ui/home">
        FAQ
      </button>
    </div>
  </div>
  <p class="header-question">How can we help?</p>
  <div class="search-bar">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search the Knowledge Base">
  </div>
</div>