<div class="chat">
  <div class="mine messages">
    <div class="message last">
      Dude
    </div>
  </div>
  <div class="yours messages">
    <div class="message last">
      Hey!
    </div>
    <div class="message last">
      You there?
    </div>
    <div class="message last">
      Hello, how's it going?
    </div>
  </div>
  <div class="mine messages">
    <div class="message">
      Great thanks!
    </div>
    <div class="message last">
      How about you?
    </div>
  </div>
  <div class="yours messages">
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>

    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?
    </div>

  </div>

</div>
