<div class="chat">
  <div class="mine messages">
    <div class="message last">
      Dude<div class="time">
        10:20 PM
      </div>
    </div>


  </div>
  <div class="yours messages">
    <div class="message ">
      Hey!<div class="time">
        10:20 PM
      </div>
    </div>

    <div class="message ">
      You there?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>

  </div>
  <div class="mine messages">
    <div class="message">
      Great thanks!<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      How about you?
      <div class="time">
        10:20 PM
      </div>
    </div>
  </div>
  <div class="yours messages">
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>

    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
    <div class="message last">
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?
      Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it going?Hello, how's it
      going?Hello, how's it going?Hello, how's it going?<div class="time">
        10:20 PM
      </div>
    </div>
  </div>
</div>
