<div class="defaultContent">
  <div class="status-sort-case">
    <span>3 items • Sorted by Case Number • Filtered by All cases - Closed</span>
  </div>

  <div class="list-Container1" >
    <table>
      <thead>
        <tr>
          <th>N.</th>
          <th><input type="checkbox" (change)="checkAll($event)"></th>
          <th>Case Number</th>
          <th>Contact Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Description</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Date | Time</th>
          <th>Assigned Date | Time</th>
          <th>Case Owner</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <!-- routerLink="/cases/case-details" -->
        <tr *ngFor="let item of arrClosedCases; let i = index" (click)="onSelectedItem(item)">
          <td>{{i+1}}</td>

          <td>
            <input type="checkbox" [checked]="checks">
          </td>

          <td>
            <!-- href="/cases/case-details" -->
            <a class="case-num-href" >
              {{item.caseNumber}}
            </a>
          </td>

          <td class="subject-td">
            <div class='edit_hover_class'>
              <a class="name-href" href="#">
                {{item?.customer?.username || item?.manager?.username}}
              </a>
            </div>
          </td>

          <td>
            <div class='edit_hover_class'>
              <a class="name-href" href="#">
                {{item?.customer?.email || item?.manager?.email}}
              </a>
            </div>
          </td>

          <!-- <td>
            <div class='edit_hover_class'>
              <a class="name-href" href="#">
                {{item.email}}
              </a>
              <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a>
            </div>
          </td> -->

          <td class="subject-td">
            <div class='edit_hover_class'>
              <a class="subject-href" href="/contacts/contact-details">
                {{item.subject}}
              </a>
            </div>
          </td>

          <td class="subject-td">
            <div class='edit_hover_class'>
              <a class="subject-href" href="/contacts/contact-details">
                {{item.description}}
              </a>
            </div>
          </td>

          <td>
            {{item?.status?.name}}
          </td>

          <td>
            {{item?.priority?.name}}
          </td>

          <td class="subject-td">
            <div class="dateTime">
              {{convertUTCtoDate(item.createdDate)}}
            </div>
          </td>

          <td class="subject-td">
            <div class="dateTime">
              {{convertUTCtoDate(item.assignedDate)}}
            </div>
          </td>

          <td>{{item?.agent?.username}}</td>

          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)=" onClickEdit(item.id)">
                <i class="fas fa-pen"></i>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="onClickDeleteCase(item.id)">
                <i class="fas fa-trash"></i>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <i class="fas fa-people-arrows"></i>
                <span>Change Owner</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

