<div class="customContactInfo">
  <div class="contact-list-container">
    <div class="custom-contact-image">
      <img class="contact-image" src="./assets/images/selection-icons/contacts.png">
    </div>

    <div class="contact-title">
      <label>Contact</label>
      <div class="custom-name-span">
        <span>Park Haram</span>
      </div>
    </div>
  </div>

  <div class="CustomInformationDetail">
    <div class="InfomationContainer">
      <div class="customTitleContainer">
        <label>Title</label>
        <div class="title-span">
          <span>Artist</span>
        </div>
      </div>

      <div class="customAccountNameContainer">
        <label>Account Name</label>
        <div class="account-name-span">
          <a href="accounts/account-details"><span>SM Entertainment</span></a>
        </div>
      </div>

      <div class="customPhoneContainer">
        <label>Phone</label>
        <div class="phone-span">
          <a href="#"><span>086 262 408</span></a>
        </div>
      </div>

      <div class="customEmailContainer">
        <label>Email</label>
        <div class="email-name-span">
          <a href="#"><span>harampark325@gmail.com</span></a>
        </div>
      </div>

      <div class="customContactOwnerContainer">
        <label>Contact Owner</label>
        <div class="contact-owner-name-span">
          <a href="#"><span>Chheun Chansreytoch</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

