<div class="confirmation-dialog-wrapper">
  <div class="dialog-header">
    <h2>{{ data?.title }}</h2>
    <button class="btn-close" [mat-dialog-close]="'no'">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-content" [ngClass]="cls">
    <span class="material-icons" *ngIf="data.type === 'warning'">warning</span>
    <span class="material-icons" *ngIf="data.type === 'success'">check_circle</span>
    <span class="material-icons" *ngIf="data.type === 'error'">error</span>
    <span class="material-icons" *ngIf="data.type === 'information'">info</span>
    <span class="material-icons" *ngIf="data.type === 'question'">help</span>

    <p>{{data.content}}</p>
  </div>

  <div class="dialog-footer">
    <button class="btn-material-no" [mat-dialog-close]="'no'">
      <span class="material-icons">close</span>
      <span style="margin-left: 10px">No</span>
    </button>
    <button class="btn-material-yes" [mat-dialog-close]="'yes'" style="margin-left: 10px">
      <span class="material-icons">done</span>
      <span style="margin-left: 10px">Yes</span>
    </button>
  </div>
</div>
