<div class="defaultContent">
  <div class="page-header">
    <div class="custom-contact-list">
      <div class="case-contact-container">
        <div class="custom-image">
          <img class="image" src="./assets/images/selection-icons/contacts.png">
        </div>

        <div class="select-contact-option">
          <div class="custom-contact-lbl">
            <label class="contacts-lbl">Reports</label>
          </div>
          <select ng-model="items" (change)="onSelectedOption($event)">
            <ng-container *ngFor="let item of Items">
              <option *ngIf="!checkIfRouteIsActivated(item.label)">{{ item.name }}</option>
              <option *ngIf="checkIfRouteIsActivated(item.label)" selected>{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-wraper">
  <router-outlet></router-outlet>
</div>
