.tabDefaultContentContainer {
  .defaultContent {
    .status-sort-case{
      margin-top: 10px;
      span{
        font-size: 12px;
        padding: 10px;
      }
    }

    .list-Container1 {
      // padding: 15px;
      // height: 445px;
      overflow: scroll;
      //margin: 0px 10px;
      table {
        width: 100%;
        background: $color7;
        border-collapse: collapse;
        // box-shadow: 0 5px 10px #eff0f1;
        background: $color7;
        text-align: left;

        thead {
          width: 100%;
          // box-shadow: 0 5px 10px #eff0f1;
        }

        // thead tr {
        //   box-shadow: 0 1px 1px #ebeef1;
        // }

        thead tr th {
          padding:  0.5rem 1rem;
          background-color: #b3d4df;
          line-height: 2.3;
          font-size: 13px;

          width : 100px;
          overflow:hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        tbody tr {
          box-shadow: 0 1px 1px #ebeef1;
        }

        tbody tr:hover {
          background-color: #dee2ff;
          transition: 0.5s;
        }

        tbody tr th {
          padding:  0.5rem 2rem;
          background-color: #ced2f0;
          line-height: 2.3;
          font-size: 13px;

          text-overflow: ellipsis;
          overflow: hidden;
          width: 50px;
          white-space: nowrap;
        }

        tbody tr td {
          padding:  0.8rem 1rem;
          line-height: 2;
          font-size: 13px;

          img {
            display: inline-block;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            object-fit: cover;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
          }
        }

        tbody tr .subject-td {
          .edit_hover_class{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100px;
            white-space: nowrap;
          }

          .dateTime {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80px;
            white-space: nowrap;
            font-size: 12px;
          }
        }

        .email {
          color: #00b4d8;
        }

        tbody tr td .edit_hover_class {
          padding: 5px;
        }

        tbody tr td .edit_hover_class .icon-edit-href{
          visibility:hidden;
          padding: 10px;
          color: $black1;
        }

        tbody tr td .edit_hover_class:hover .icon-edit-href {
          visibility:visible;
          color: $color9;
        }

        tbody tr td .edit_hover_class .name-href {
          text-decoration: none;
          color: $black1;
        }

        tbody tr td .edit_hover_class .name-href:hover {
          text-decoration: underline;
          color: $color9;
        }
      }
    }
  }
}



