
.page-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}


.scrollable-table {
  width: 100%;
  padding-right: 10px;
  overflow: auto;
  height: calc(100vh - 10px);
  table {
    background: #f9f8fa;
    padding: 10px;
  }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  color: #02a1ff;
  font-size: 12px;
  background-color: none !important;
  padding: 10px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  background-color: white;
}

//.mat-button-toggle-group {
  //left: 500px;
//}



