.defaultContainer {
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // height: 100vh;
  // position: fixed;

  .defaultHeaderFront {
    position: static;

    .defaultPageContainer {
      .defaultHeader {
        // padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $Roboto-font;
        height: 60px;
        .custom-logo-page {
          width: 50%;
          .logo_navbar {
            width: 150px;

            img {
              width: 100%;
              margin: 0 auto;
            }
          }
        }

        .search-menuIcon-container {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .Custom-searchForm {
            form {
              padding: 1px;
              display: flex;
              flex-direction: row;

              input[type=text] {
                padding: 8px 150px;
                padding-left: 15px;
                font-size: 12px;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: none;
                border-bottom: 1px solid #ccc;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background: $color7;
                outline: none;
                text-indent: 10px;
              }

              input:focus {
                border: 1px solid #54adf7;
                box-shadow: 0 0 3px #54adf7;
              }

              .custom-search-btn {
                width: 30px;
                line-height: 2.3;
                border: 1px solid $gray1;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                .btn-icon-search {
                  border: none;
                  background: none;

                  .fi-rr-search {
                    font-size: 13px;
                    padding-left: 7px;
                    // margin-right: 15px;
                  }
                }
              }

              .custom-search-btn:hover {
                background: $gray4;
              }
            }
          }

          .Custom-Menu-icons {
            display: flex;
            .notification-icon-container {
              .notification-icon {
                button {
                  margin-right: 20px;
                  margin-top: 5px;
                  .fa-bell {
                    font-size: 22px;
                  }
                }
              }
            }

            .custom-user-profile {
              span{
                margin: 0!important;
              }
              .avatarImg1 {
                width: 35px;
                height: 35px;
                border: 2px solid #ccc;
                border-radius: 50%;
              }
            }
          }
        }
      }

      .Navigation-service {
        .serviceContainer {
          width: 100%;
          font-family: $primary-font;
          font-weight: normal;
          border-top: 1px solid $gray1;
          border-bottom: 3px solid $color10;
          display: flex;
          // margin-top: -20px;

          .grid-icon {
            width: 2%;
            font-size: 22px;
            margin-top: 8px;
            margin-left: 20px;
          }

          .grid-icon a {
            color: $black3;
          }

          .grid-icon .fi-rr-layout-fluid:hover {
            text-shadow: 0 0 10px blue;
          }

          .service-console {
            width: auto;
            border-right: 1px solid $gray1;
            padding: 8px;
            font-size: 18px;
          }

          .CasesContainer {
            width: 170px;
            position: relative;
            //border-top: 2px solid $color10;
          }

          .CasesContainer select{
            height: 40px;
            padding: 10px 20px;
            line-height: 15px;
            font-size: 12px;
            width: 100%;
            border: none;
            outline: none;
            border-right: 1px solid #ccc;
            //border-radius: 5px;
           -webkit-appearance: none;
            appearance: none;
          }

          .CasesContainer select:focus + .focus {
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border: 2px solid var(--select-focus);
            border-radius: inherit;
          }

          .CasesContainer:after{
            content: "";
            position: absolute;
            right: 8px;
            top: 50%;
            margin-top: -4px;
            border-top: 8px solid #ccc;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            pointer-events: none;
          }

          .CasesContainer select:focus {
            background: #faf9f8;
            border: 1px solid #54adf7;
            box-shadow: 0 0 3px #54adf7;
          }

          .CasesContainer select option {
            font-size: 14px;
            border: 1px solid #54adf7;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 464px) {
  .defaultContainer {
    .defaultHeaderFront {
      .defaultPageContainer {
        .defaultHeader {
          display: block;

          .search-menuIcon-container {
            .Custom-searchForm {
              padding-left: 10px;
              padding-right: 10px;

              form {
                input {
                  width: 370px;
                }
              }

            }

            .Custom-Menu-icons {
              margin-top: -45px;
              margin-left: -80px;
            }
          }
        }

        .Navigation-service {
          margin-top: 10px;

          .serviceContainer {

            .grid-icon {
              float: left;
              margin-right: 20px;
            }

            .service-console {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 538px) {
  .defaultContainer {
    .defaultHeaderFront {
      .defaultPageContainer {
        .defaultHeader {
          display: block;

          .search-menuIcon-container {
            .Custom-searchForm {
              padding-left: 10px;
              padding-right: 10px;

              form {
                input {
                  width: 370px;
                }
              }

            }

            .Custom-Menu-icons {
              margin-top: -45px;
              margin-left: -80px;
            }
          }
        }

        .Navigation-service {
          margin-top: 10px;

          .serviceContainer {

            .grid-icon {
              float: left;
              margin-right: 20px;
            }

            .service-console {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .defaultContainer {
    .defaultHeaderFront {
      .defaultPageContainer {
        .defaultHeader {
          display: block;

          .search-menuIcon-container {
            .Custom-searchForm {
              padding-left: 10px;
              padding-right: 10px;

              form {
                input {
                  width: 370px;
                }
              }

            }

            .Custom-Menu-icons {
              margin-top: -45px;
              margin-left: -80px;
            }
          }
        }

        .Navigation-service {
          margin-top: 10px;

          .serviceContainer {

            .grid-icon {
              float: left;
              margin-right: 20px;
            }

            .service-console {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

.nofify-inside-popup {
  .nofify {
    display: flex;

    span {
      font-size: 13px;
      margin-left: 10px;
      margin-right: 5px;
    }

    .fa-bell {
      font-size: 13px;
      margin-top: 3px;
    }
  }
}

.inside-popup {
  display: flex;
  padding: 10px;

  .avatarImg2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
    margin-right: 10px;
  }

  .user-info {
    h4{
      font-weight: bold;
      margin: 0;
    }
    .span1 {
      font-size: 12px;
    }

    .span2{
      font-size: 12px;
      color: #54adf7;
      text-decoration: underline;
    }
  }
}

