<div class="CustomAdminHeader">
  <div class="custom-header-item">
    <input type="checkbox" id="close">
    <label for="close" class="btn-sidebar-lbl">
      <span id="open-btn" class="fi-br-menu-burger"></span>
    </label>
  </div>

  <div class="search-form">
    <form>
      <i class="fi-rr-search"></i>
      <!-- <input class="search-input" type="text" name="contactName" [(ngModel)]="contactName" (ngModelChange)="Search()" placeholder="Search..."> -->
      <input class="search-input" type="text" name="contactName" placeholder="Search...">
    </form>
  </div>

  <div class="custom-notify-userAcc">
    <div class="btnNotification-Click">
      <button class="btn-Notification"><i class="fi-rr-bell"></i></button>
    </div>

    <div class="profile-account">
      <img id="image-click" class="avatarImg" src="./assets/images/avatar.png">
    </div>
  </div>
</div>
