<div class="custom-admin-header">
  <div class="custom-image-SidebarIcon">
    <div class="sideBar-icons">
      <button (click)="onClickBtnSideBar()"><i class="fi fi-rr-menu-burger"></i></button>
    </div>

    <h4>{{ getDateTime() | date : 'fullDate' }}</h4>
  </div>

  <div class="custom-notify-userAcc">
    <div class="search-form">
      <form>
        <input type="text" name="search-item" placeholder="Search...">
        <div class="custom-search-btn">
          <button class="btn-icon-search"><i class="fi-rr-search"></i></button>
        </div>
      </form>
    </div>

    <div class="Custom-Menu-icons">
      <div class="custom-user-profile">
        <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
          <ng-container *ngIf="arrManagerAccount?.imageDownloadUrl">
            <img class="avatarImg1" [src]="checkLocalStoragePath(arrManagerAccount.imageDownloadUrl)">
          </ng-container>

            <ng-container *ngIf="!arrManagerAccount?.imageDownloadUrl">
              <img class="avatarImg1"
                [src]="arrManagerAccount?.gender === 'Male' ? '/assets/icons/boy.png' : '/assets/icons/girl.png'">
            </ng-container>
        </button>

        <mat-menu #menu2="matMenu">
          <div class="inside-popup">
            <ng-container *ngIf="arrManagerAccount?.imageDownloadUrl">
              <img class="avatarImg2" [src]="checkLocalStoragePath(arrManagerAccount.imageDownloadUrl)">
            </ng-container>

              <ng-container *ngIf="!arrManagerAccount?.imageDownloadUrl">
                <img class="avatarImg2"
                  [src]="arrManagerAccount?.gender === 'Male' ? '/assets/icons/boy.png' : '/assets/icons/girl.png'">
              </ng-container>
            <div class="user-info">
              <h4>Manager</h4>
              <span class="span1">Name: {{arrManagerAccount?.username}} </span><br>
              <span class="span2">{{arrManagerAccount?.email}}</span>
            </div>
          </div>

          <button mat-menu-item>
            <i class="fas fa-key"></i>
            <span>Change Password</span>
          </button>
          <button mat-menu-item>
            <i class="fas fa-user-circle"></i>
            <span>Change Username</span>
          </button>
          <button mat-menu-item>
            <i class="fas fa-pen"></i>
            <span>Edit Profile</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <!-- <div class="profile-account">
      <img id="image-click" class="avatarImg" src="./assets/images/avatar.png">
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div> -->
  </div>
</div>


<!-- <div class="notification-popup-container">
  <div class="custom-notification-lbl">
    <label class="notification-lbl">Notifications <i class="fi-sr-bell"></i></label>
    <button class="btn-close" (click)="clickNotification()"><i class="fi-rr-cross-small"></i></button>
  </div>

  <div class="notification-text" >
    <ul *ngFor="let notifyValue of notifyValues">
      <div class="notificationList-custom">
        <div class="notificationList">
          <li>{{notifyValue.notification}}</li>
        </div>

        <div class="from-account">
          <li><span>from {{notifyValue.accountName}}</span></li>
        </div>
      </div>

      <div class="notification-info">
        <div class="custom-duration">
          <li><label>{{notifyValue.duration}}</label></li>
        </div>

        <div class="custom-button">
          <div class="btn-view">
            <button mat-button (click)="onClickViewNotification()">View</button>
          </div>

          <div class="btn-delete">
            <button><i class="fi fi-rr-trash"></i></button>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div> -->
