<div class="CustomAdminHeader">
  <div class="custom-image-SidebarIcon">
    <div class="sideBar-icons">
      <button (click)="onClickBtnSideBar()"><i class="fi fi-rr-menu-burger"></i></button>
    </div>

    <!-- <div class="imageSrc">
      <a href="#">
        <img class="image-logo" src="./assets/images/logo.png">
      </a>
    </div> -->
  </div>

  <div class="search-form">
    <!-- <form>
      <i class="fi-rr-search"></i>
      <input class="search-input" type="text" name="contactName" placeholder="Search...">
    </form> -->
    <form>
      <input type="text" name="search-item" placeholder="Search...">
      <div class="custom-search-btn">
        <button class="btn-icon-search"><i class="fi-rr-search"></i></button>
      </div>
  </form>
  </div>

  <div class="custom-notify-userAcc">
    <div class="btnNotification-Click">
      <mat-icon matBadge="5" matBadgeColor="warn">
        <button class="btn-Notification" (click)="clickNotification()"><i class="fi-rr-bell"></i></button>
      </mat-icon>

      <div class="custom-notification-popup" *ngIf="showNotificationPopup">
        <div class="notification-popup-container">
          <div class="custom-notification-lbl">
            <label class="notification-lbl">Notifications <i class="fi-sr-bell"></i></label>
            <button class="btn-close" (click)="clickNotification()"><i class="fi-rr-cross-small"></i></button>
          </div>
          <hr>
          <div class="notification-text" >
            <ul *ngFor="let notifyValue of notifyValues">
              <div class="notificationList-custom">
                <div class="notificationList">
                  <li>{{notifyValue.notification}}</li>
                </div>

                <div class="from-account">
                  <li><span>from {{notifyValue.accountName}}</span></li>
                </div>
              </div>

              <div class="notification-info">
                <div class="custom-duration">
                  <li><label>{{notifyValue.duration}}</label></li>
                </div>

                <div class="custom-button">
                  <div class="btn-view">
                    <button mat-button (click)="onClickViewNotification()">View</button>
                  </div>

                  <div class="btn-delete">
                    <button><i class="fi fi-rr-trash"></i></button>
                  </div>
                </div>

              </div>
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </div>


    <div class="profile-account">
      <img id="image-click" class="avatarImg" src="./assets/images/avatar.png">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
