<div class="UserProfileContainer">
    <div class="popupContainer">
        <div class="user-popup">
            <div class="userImg">
                <a href="#">
                    <img class="avatarImg" src="./assets/images/avatar.png">
                </a>
            </div>
           
            <div class="profileUserContainer">
                <h1 class="profile-userAccount">
                    <a href="#" class="profile-link-userName">Chheun Chansreytoch</a>
                </h1>
        
                <h2 class="profile-userEmail">chheunchansreytoch@gmail.com</h2>
            </div>
        </div>
    </div>
   
    
    <div class="profileContainer">
        <div class="profile-card-link">
            <h3 class="user-profile-lable">User Profile</h3>
        </div>
    </div>
    
    <div class="editProfileContainer">
        <div class="editProfile">
            <a href="#" class="edit-profile-link">Edit Profile</a>
        </div>
    </div>

    <div class="UserSettingContainer">
        <div class="setting-card-link">
            <h3 class="user-setting-lable">User Settings</h3>
        </div>
    </div>
    
    <div >
        <div class="user-popup">
            <a class="userSetting" href="#">Settings</a>
            <a class="logOut" href="#">Log Out</a>
        </div>
    </div>
    
   

</div>


