<!-- <div class="UserProfileContainer">
    <div class="popupContainer">
        <div class="user-popup">
            <div class="userImg">
                <a href="#">
                    <img class="avatarImg" src="./assets/images/avatar.png">
                </a>

                <div class="info-user">
                    <a href="#" class="profile-link-userName">Chheun Chansreytoch</a>
                    <h2 class="profile-userEmail">chheunchansreytoch@gmail.com</h2>
                </div>

            </div>
        </div>
    </div>

    <div class="profileContainer">
        <div class="profile-card-link">
            <h3 class="user-profile-lable">User Profile</h3>
        </div>
    </div>

    <div class="editProfileContainer">
        <div class="editProfile">
            <a href="#" class="edit-profile-link">Edit Profile</a>
        </div>
    </div>

    <div class="UserSettingContainer">
        <div class="setting-card-link">
            <h3 class="user-setting-lable">User Settings</h3>
        </div>
    </div>

        <div class="user-popup">
            <a class="userSetting" href="#">Settings</a>
            <a class="logOut" href="#">Log Out</a>
        </div>
</div>

 -->

 <!-- ***Select dropdown*** -->

<!-- <div class="selectContainer">
    <div class="custom-select">
        <select>
            <option value="">Cases</option>
            <option value="">Contacts</option>
            <option value="">Reports</option>
            <option value="">Accounts</option>
            <option value="">Dashboards</option>
            <option value="">Dashboards</option>
            <option value="">Chatter</option>
            <option value="">Home</option>
        </select>
        <span class="custom-arrow"></span>
    </div>

</div> -->






<!-- <div id="loginFormContainer">
    <form class="sign-in-form" action="" method=""> -->
        <!-- <h2>Sign In</h2>

        <div class="btnLoginWith">
            <button class="btnLoginEmail">Sign In using your email</button>
        </div>

        <p><span>or sign in with your email</span></p> -->


        <!-- <div class="input-field">
            <input class="input" type="text" name="fname" placeholder=" Firstname" required>
        </div>

        <div class="input-field">
            <input class="input" type="text" name="lname" placeholder=" Lastname" required>
        </div>

        <div class="input-field">
            <input class="input" type="email" name="email" placeholder=" Email" required>
        </div>

        <div class="input-field">
            <input class="input" type="password" name="psw" placeholder=" Password" required>
        </div> -->

    <!-- <div class="CustomLogin">
        <form class="sign-in-form" action="" method="">
            <div class="loginform">
                <h2>Sign In</h2>
                <div class="btnLoginWith">
                    <button class="btnLoginEmail">Sign In using your email</button>
                </div>

                <p><span>or sign in with your email</span></p>

                <label class="custom-field">
                    <input class="form-input" type="text" name="fname" required>
                    <span class="placeholder">First Name</span>
                </label>

                <label class="custom-field">
                    <input class="form-input" type="text" name="lmail" required>
                    <span class="placeholder">Last Name</span>
                </label>

                <label class="custom-field">
                    <input class="form-input" type="text" name="email" required>
                    <span class="placeholder">Email</span>
                </label>

                <label class="custom-field">
                    <input class="form-input" type="text" name="password" required>
                    <span class="placeholder">Password</span>
                </label>

                <div class="rememberContainer">
                    <div class="rememberMe">
                        <input class="check-input" type="checkbox" name="remember" value="Remember me">
                            <label class="lbl_rememberMe" for="remember"> Keep me logged in</label>
                    </div>
                </div>

                <button class="btnLogin">Sign In</button>

                <div class="rememberContainer">
                    <div class="forgotPassword">
                        <a href="#">Forgot your Password</a>
                    </div>
                </div>
        </div>
    </form>
</div> -->

 <!-- <div class="global-action-Container">
    <span class="global-action-span">GLOBAL ACTIONS</span>

    <div class="global-action-blog">
      <div class="item-blog">

      </div>

      <div class="text-lbl-blog">
        <a href="#" class="link-item">
          <label class="text-lbl">New Event</label>
        </a>
    </div> -->

    <!-- <div class="global-action-blog">
      <div class="item-blog">
        <img class="item-img" src="./assets/images/task.png">
      </div>

      <div class="text-lbl-blog">
        <label class="text-lbl">New Task</label>
      </div>
    </div>

    <div class="global-action-blog">
      <div class="item-blog">
        <img class="item-img" src="./assets/images/contact-book.png">
      </div>

      <div class="text-lbl-blog">
        <label class="text-lbl">New Contact</label>
      </div>
    </div>

    <div class="global-action-blog">
      <div class="item-blog">
        <img class="item-img" src="./assets/images/email.png">
      </div>

      <div class="text-lbl-blog">
        <label class="text-lbl">Email</label>
      </div>
    </div>

    <div class="global-action-blog">
      <div class="item-blog">
        <img class="item-img" src="./assets/images/log-call.png">
      </div>

      <div class="text-lbl-blog">
        <label class="text-lbl">Log a Call</label>
      </div>
    </div>

    <div class="global-action-blog">
      <div class="item-blog">
        <img class="item-img" src="./assets/images/new-case.png">
      </div>

      <div class="text-lbl-blog">
        <label class="text-lbl">New Case</label>
      </div>
    </div>

    <div class="global-action-blog">
      <div class="item-blog">
        <img class="item-img" src="./assets/images/opportunity.png">
      </div>

      <div class="text-lbl-blog">
        <label class="text-lbl">New Opportunity</label>
      </div>
    </div>
</div>-->
<!-- <div class="menuContainer">
  <div class="custom-adding-menu">
    <button mat-button [matMenuTriggerFor]="menu" class="btn-adding-icon">
      <i class="fi-rr-add"></i>
    </button>`

    <mat-menu #menu="matMenu" class="mat-menu">
      <span class="global-action-span">GLOBAL ACTIONS</span>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-calendar"></i>
        </mat-icon>
        <label>New Event</label>
      </button>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-list-check"></i>
        </mat-icon>
        <label>New Task</label>
      </button>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-portrait"></i>
        </mat-icon>
        <label>New Contact</label>
      </button>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-smartphone"></i>
        </mat-icon>
        <label>Log a Call</label>
      </button>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-envelope"></i>
        </mat-icon>
        <label>New Email</label>
      </button>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-briefcase"></i>
        </mat-icon>
        <label>New Case</label>
      </button>

      <button mat-menu-item>
        <mat-icon>
          <i class="fi-rr-crown"></i>
        </mat-icon>
        <label>Opportunity</label>
      </button>
    </mat-menu>
  </div>
</div> -->


<!-- <mat-form-field appearance="fill"> -->
  <!-- <mat-label>Select an option</mat-label> -->
  <!-- <mat-select [(value)]="selected">
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field> -->

<!-- <p>You selected: {{selected}}</p> -->

<!-- <div class="list-view">
  <label class="list-view-lbl">LIST VIEW CONTROLS</label>
  <ul>
    <li>New</li>
    <li>Clone</li>
    <li>Rename</li>
    <li>Sharing Settings</li>
    <li>Edit List Filters</li>
    <li>Select Fields to Display</li>
    <li>Delete</li>
    <li>Reset Column Widths</li>
  </ul>
</div> -->

<!-- <div id="info">Observe the platform icon's motion direction when there is up and down hover on options.</div>

<form id="app-cover">
            <div id="select-box">
                    <input type="checkbox" id="options-view-button">
                    <div id="select-button" class="brd">
                            <div id="selected-value">
                                <span>Select a platform</span>
                            </div>
                            <div id="chevrons">
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-down"></i>
                            </div>
                    </div>
                    <div id="options">
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="codepen">
                                    <input class="s-c bottom" type="radio" name="platform" value="codepen">
                                    <i class="fab fa-codepen"></i>
                                    <span class="label">CodePen</span>
                                    <span class="opt-val">CodePen</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="dribbble">
                                    <input class="s-c bottom" type="radio" name="platform" value="dribbble">
                                    <i class="fab fa-dribbble"></i>
                                    <span class="label">Dribbble</span>
                                    <span class="opt-val">Dribbble</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="behance">
                                    <input class="s-c bottom" type="radio" name="platform" value="behance">
                                    <i class="fab fa-behance"></i>
                                    <span class="label">Behance</span>
                                    <span class="opt-val">Behance</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="hackerrank">
                                    <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
                                    <i class="fab fa-hackerrank"></i>
                                    <span class="label">HackerRank</span>
                                    <span class="opt-val">HackerRank</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="stackoverflow">
                                    <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
                                    <i class="fab fa-stack-overflow"></i>
                                    <span class="label">StackOverflow</span>
                                    <span class="opt-val">StackOverflow</span>
                            </div>
                            <div class="option">
                                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                                    <i class="fab fa-free-code-camp"></i>
                                    <span class="label">FreeCodeCamp</span>
                                    <span class="opt-val">FreeCodeCamp</span>
                            </div>
                            <div id="option-bg"></div>
                    </div>
            </div>
    </form> -->




