@import "./variables.scss";
@import "./button.scss";
@import "./plain_container.scss";
@import "./title.scss";
@import "./logo_button.scss";
@import "./title_button.scss";
@import "./user_profile_button.scss";
@import "./search_bar.scss";

// main style file
.main-container-wrapper {
  width: 100%;
  height: 100%;
  // background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}
.main-container {
  width: 100%;
  align-self: center;
  max-width: 1400px;
  flex: 1;
}

.small-font-style {
  font-family: $main-font;
  font-size: $small-size;
  font-weight: $normal-weight;
}

.normal-font-style {
  font-family: $main-font;
  font-size: $normal-size;
  font-weight: $normal-weight;
}

.large-font-style {
  font-family: $main-font;
  font-size: $large-size;
  font-weight: $normal-weight;
}
