.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}
