.search-bar {
  display: flex;
  background-color: white;
  padding: 20px;
  overflow: hidden;

  input {
    flex: 1;
    padding: 0px 20px;
    border: none;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: $normal-size;
    &::placeholder {
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
  }
}
