.title-button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: white;
}
.title-button:hover {
  opacity: 0.8;
}
.title-button:active {
  opacity: 0.6;
}
