.header-right-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .image-profile {
    border-radius: 100%;
    min-width: 30px;
    height: 30px;
    background-color: $light-grey;
    background-image: url("https://wallpapercave.com/wp/wp2461837.jpg");
    background-size: cover; // fixed height auto width
    background-repeat: no-repeat;
    background-position: center;
  }
}
