@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/// all variable used in customer-ui module are here
$primary-font: "Open Sans", sans-serif;

$secondary-font: "Source Sans Pro", Helvetica, Verdana, sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$txt-primary: white;
$body-bg: black;
// $bg-color: #0ac2bf;
$bg-color: #39a2db;
$search-border-color: #a2dbfa;

$logo-path: "../../../../assets/images/cutomer-ui/logo.png";
