$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$txt-primary: white;
$body-bg: black;
$bg-color: #0ac2bf;

$logo-path: "../../../../assets/images/cutomer-ui/logo.png";
