/// all variable used in customer-ui module are here
$logo-path: "../../../../assets/images/cutomer-ui/logo.png";

$main-font: "Open Sans";
$secondary-font: "Roboto";

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$txt-primary: white;
$body-bg: black;

$bg-color: #39a2db;
$search-border-color: #a2dbfa;
