<div class="customAccountInfo">
  <div class="account-list-container">
    <div class="custom-account-image">
      <img class="account-image" src="./assets/images/selection-icons/account.png">
    </div>

    <div class="account-title">
      <label>Account</label>
      <div class="custom-name-span">
        <span>SM Entertainment</span>
      </div>
    </div>
  </div>

  <div class="CustomInformationDetail">
    <div class="InfomationContainer">
      <div class="customTypeContainer">
        <label>Type</label>
        <div class="title-span">
          <span>Customer - Director</span>
        </div>
      </div>

      <div class="customPhoneContainer">
        <label>Phone</label>
        <div class="phone-span">
          <a href="#"><span>086 262 408</span></a>
        </div>
      </div>

      <div class="customAccountOwnerContainer">
        <label>Contact Owner</label>
        <div class="contact-owner-name-span">
          <a href="#"><span>Chheun Chansreytoch</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
