<div class="custom-page-admin">
  <div class="page-wraper">
    <div class="page-header-container">
      <div class="header-title-container">
        <span class="material-icons custom-icon">work</span>
        <h1>Cases</h1>
      </div>
      <div class="custom-button">
        <button class="btnCreate" mat-button (click)="onAssign(this.selectedCheckedboxValue)">
          <span class="material-icons">add_circle</span>
          Assign Case
        </button>

        <button class="btnCreate" mat-button (click)="onCreate(null)">
          <span class="material-icons">add_circle</span>
          Create Case
        </button>
      </div>
    </div>

    <div class="page-statistic-container">
      <div class="card-container first">
        <div class="card-title">
          <h4>New Cases</h4>
        </div>
        <div class="card-content">
          <h2 class="animatedNumber0" id="animatedNumber0">245</h2>
          <div class="more-info">
            impression 20%
          </div>
        </div>
      </div>

      <div class="card-container second">
        <div class="card-title">
          <h4>New Cases</h4>
        </div>
        <div class="card-content">
          <h2>245</h2>
          <div class="more-info">
            impression 20%
          </div>
        </div>
      </div>

      <div class="card-container second">
        <div class="card-title">
          <h4>New Cases</h4>
        </div>
        <div class="card-content">
          <h2>245</h2>
          <div class="more-info">
            impression 20%
          </div>
        </div>
      </div>

      <div class="card-container fourth">
        <div class="card-title">
          <h4>New Cases</h4>
        </div>
        <div class="card-content">
          <h2>245</h2>
          <div class="more-info">
            impression 20%
          </div>
        </div>
      </div>

      <div class="card-container fifth">
        <div class="card-title">
          <h4>New Cases</h4>
        </div>
        <div class="card-content">
          <h2>245</h2>
          <div class="more-info">
            impression 20%
          </div>
        </div>
      </div>
    </div>

    <div class="tab-container">
      <mat-tab-group>
        <mat-tab label="View Incoming Cases">
          <div class="custom-table-0">
            <div class="scrollable-table">
              <table>
                <thead>
                  <tr>
                    <th>N.</th>
                    <th><input type="checkbox" (change)="checkAll($event)"></th>
                    <th>Case Number</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Case Owner</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of arrCases; let i = index">
                    <td>{{i+1}}</td>
                    <td><input type="checkbox" [checked]="checks" (change)="isChecked(item, $event)"></td>
                    <td>{{item?.caseNumber}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item?.customer?.username || item?.manager?.username }}</td>
                    <td> {{convertUTCtoDate(item.createdDate)}}</td>
                    <td>{{item?.status?.name}}</td>
                    <td>{{item?.priority?.name}}</td>
                    <td>{{item?.agent?.username}}</td>
                    <td>
                     <button mat-icon-button [matMenuTriggerFor]="menu_case">
                       <mat-icon>more_vert</mat-icon>
                     </button>

                     <mat-menu #menu_case="matMenu">
                       <button mat-menu-item (click)="onCreate(item)">
                         <span class="material-icons">create</span>
                         <span>Edit</span>
                       </button>

                       <button mat-menu-item (click)="onClickDelete(item.id)">
                         <span class="material-icons">delete</span>
                         <span>Delete</span>
                       </button>
                     </mat-menu>
                    <td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="View Current Cases">
          <div class="custom-table-0">
            <div class="scrollable-table">
              <table>
                <thead>
                  <tr>
                    <th>N.</th>
                    <th><input type="checkbox" (change)="checkAll($event)"></th>
                    <th>Case Number</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Case Owner</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of arrCases; let i = index">
                    <td>{{i+1}}</td>
                    <td><input type="checkbox" [checked]="checks"></td>
                    <td>{{item?.caseNumber}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item?.customer?.username || item?.manager?.username }}</td>
                    <td> {{convertUTCtoDate(item.createdDate)}}</td>
                    <td>{{item?.status?.name}}</td>
                    <td>{{item?.priority?.name}}</td>
                    <td>{{item?.agent?.username}}</td>
                    <td>
                     <button mat-icon-button [matMenuTriggerFor]="menu">
                       <mat-icon>more_vert</mat-icon>
                     </button>

                     <mat-menu #menu="matMenu">
                       <button mat-menu-item (click)="onCreate(item.id)">
                         <span class="material-icons">create</span>
                         <span>Edit</span>
                       </button>

                       <button mat-menu-item (click)="onClickDelete(item.id)">
                         <span class="material-icons">delete</span>
                         <span>Delete</span>
                       </button>
                     </mat-menu>
                    <td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="View Old Cases">
          <div class="custom-table-0">
            <div class="scrollable-table">
              <table>
                <thead>
                  <tr>
                    <th>N.</th>
                    <!-- <th><input type="checkbox" (change)="checkAll($event)"></th> -->
                    <th>Case Number</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Case Owner</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of arrCases; let i = index">
                    <td>{{i+1}}</td>
                    <!-- <td>
                     <input type="checkbox" [checked]="checks">
                    </td> -->
                    <td>{{item?.caseNumber}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item?.customer?.username || item?.manager?.username }}</td>
                    <td> {{convertUTCtoDate(item.createdDate)}}</td>
                    <td>{{item?.status?.name}}</td>
                    <td>{{item?.priority?.name}}</td>
                    <td>{{item?.agent?.username}}</td>
                    <td>
                     <button mat-icon-button [matMenuTriggerFor]="menu">
                       <mat-icon>more_vert</mat-icon>
                     </button>

                     <mat-menu #menu="matMenu">
                       <button mat-menu-item (click)="onCreate(item.id)">
                         <span class="material-icons">create</span>
                         <span>Edit</span>
                       </button>

                       <button mat-menu-item (click)="onClickDelete(item.id)">
                         <span class="material-icons">delete</span>
                         <span>Delete</span>
                       </button>
                     </mat-menu>
                    <td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-tab>

        <div class="tab-search">
          <mat-tab label="View Cases by Department">
            <div class="custom-table-0">
              <div class="scrollable-table">
                <table>
                  <thead>
                    <tr>
                      <th>N.</th>
                      <th><input type="checkbox" (change)="checkAll($event)"></th>
                      <th>Case Number</th>
                      <th>Subject</th>
                      <th>Description</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Status</th>
                      <th>Priority</th>
                      <th>Case Owner</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of arrCases; let i = index">
                      <td>{{i+1}}</td>
                      <td><input type="checkbox" [checked]="checks"></td>
                      <td>{{item?.caseNumber}}</td>
                      <td>{{item.subject}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item?.customer?.username || item?.manager?.username }}</td>
                      <td> {{convertUTCtoDate(item.createdDate)}}</td>
                      <td>{{item?.status?.name}}</td>
                      <td>{{item?.priority?.name}}</td>
                      <td>{{item?.agent?.username}}</td>
                      <td>
                       <button mat-icon-button [matMenuTriggerFor]="menu">
                         <mat-icon>more_vert</mat-icon>
                       </button>

                       <mat-menu #menu="matMenu">
                         <button mat-menu-item (click)="onCreate(item)">
                           <span class="material-icons">create</span>
                           <span>Edit</span>
                         </button>

                         <button mat-menu-item (click)="onClickDelete(item.id)">
                           <span class="material-icons">delete</span>
                           <span>Delete</span>
                         </button>
                       </mat-menu>
                      <td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>

           <!-- <mat-form-field class="input">
          <input matInput placeholder="Search" >
        </mat-form-field> -->
        </div>
      </mat-tab-group>
    </div>
  </div>
</div>
