<div class="custom-manage-cases">
  <div class="custom-button">
    <div class="custom-btn-Case-blog">
      <div class="btnClickCreate">
        <button class="btnCreate" (click)="createCasetoogleTag()">Create Case</button>
      </div>
      <!-- z-1001 -->
      <div class="create-case-popup" *ngIf="showCasePopup">
        <div class="custom-show-create-case-blog">
          <div class="title-case-container">
            <h4>New Case</h4>
          </div>
          <div class="case-info-lbl-container">

            <hr class="line-break">
            <div class="caselabel">
              <label class="case-info-lbl">Case Information</label>
            </div>

            <div class="custom-Case-Container">
              <div class="case-owner-container">
                <label class="case-owner-lbl">Case Owner</label>
                <p class="case-owner-name">Chheun Chansreytoch</p>
              </div>

              <div class="custom-select">
                <label class="status-lbl">Case Owner</label>
                <div class="select-box" required>
                  <select>
                    <option>New</option>
                    <option>Working</option>
                    <option>Escalated</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="caseNumber-Container">
              <div class="custom-case-number">
                <label class="case-number-lbl">Case Number</label>
                <p class="case-number">00001001</p>
              </div>

              <div class="custom-select-Prority">
                <label class="priority-lbl">Priority</label>
                <div class="select-box-priority" required>
                  <select>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="contactName-Container">
              <div class="custom-contactName">
                <label class="contact-name-lbl">Contact Name</label>

                <div class="custom-Contact-Name-icon">
                  <div class="contactNameIcon">
                    <img class="contact-image" src="./assets/images/selection-icons/contacts.png">
                  </div>
                  <div class="contact-name">
                    <p>Chheun Chansreytoch</p>
                  </div>
                </div>
              </div>

              <div class="custom-select-CaseOrigin">
                <label class="origin-lbl">Case Origin</label>
                <div class="select-box-origin" required>
                  <select>
                    <option>Phone</option>
                    <option>Email</option>
                    <option>Web</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="accountNumber-Container">
              <div class="custom-account-number">
                <label class="account-number-lbl">Account Name</label>

                <div class="custom-Account-Name-icon">
                  <div class="accountNameIcon">
                    <img class="account-image" src="./assets/images/selection-icons/account.png">
                  </div>
                  <div class="account-name">
                    <p>Chheun Chansreytoch</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="type-Container">
              <div class="custom-select-type">
                <label class="type-lbl">Type</label>
                <div class="select-box-type" required>
                  <select>
                    <option>--None--</option>
                    <option>Machenical</option>
                    <option>Electrical</option>
                    <option>Electronic</option>
                    <option>Structural</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="type-Container">
              <div class="custom-select-type">
                <label class="type-lbl">Case Reason</label>
                <div class="select-box-type" required>
                  <select>
                    <option>--None--</option>
                    <option>Installation</option>
                    <option>Equipement Complexity</option>
                    <option>Performance</option>
                    <option>Breakdown</option>
                    <option>Equipment Design</option>
                    <option>Feedback</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="web-info-lbl-container">
            <div class="Weblabel">
              <label class="web-info-lbl">Web Information</label>
            </div>

            <div class="web1-Container">
              <div class="custom-web-email">
                <label class="web-email-lbl">Web Email</label>
                <form>
                  <input class="web-email-input" type="text" name="search">
                </form>
              </div>

              <div class="custom-web-company">
                <label class="web-company-lbl">Web Company</label>
                <form>
                  <input class="web-company-input" type="text" name="search">
                </form>
              </div>
            </div>

            <div class="web2-Container">
              <div class="custom-web-name">
                <label class="web-name-lbl">Web Name</label>
                <form>
                  <input class="web-name-input" type="text" name="search">
                </form>
              </div>

              <div class="custom-web-phone">
                <label class="web-phone-lbl">Web Phone</label>
                <form>
                  <input class="web-phone-input" type="text" name="search">
                </form>
              </div>
            </div>
          </div> -->

          <!-- <div class="additional-info-lbl-container">
            <div class="additionLabel">
              <label class="addtional-info-lbl">Additional Information</label>
            </div>

            <div class="custom-addition-Container1">
              <div class="product-container">
                <label class="product-lbl">Product</label>
                <div class="select-box-product" required>
                  <select>
                    <option>--None--</option>
                    <option>New</option>
                    <option>Working</option>
                    <option>Escalated</option>
                  </select>
                </div>
              </div>

              <div class="custom-engineer-req-num">
                <label class="engineer-num-lbl">Engineering req Number</label>
                <form>
                  <input class="engineer-num-input" type="text" name="search">
                </form>
              </div>
            </div>

            <div class="custom-addition-Container2">
              <div class="potential-container">
                <label class="potential-lbl">Potential Liability</label>
                <div class="select-box-potential" required>
                  <select>
                    <option>--None--</option>
                    <option>No</option>
                    <option>Yes</option>
                  </select>
                </div>
              </div>

              <div class="violation-container">
                <label class="violation-lbl">SLA Violation</label>
                <div class="select-box-violation" required>
                  <select>
                    <option>--None--</option>
                    <option>GC1040</option>
                    <option>GC1060</option>
                    <option>GC1020</option>
                  </select>
                </div>
              </div>
            </div>
          </div> -->

          <div class="desc-info-lbl-container">
            <div class="descLabel">
              <label class="desc-info-lbl">Description Information</label>
            </div>

            <div class="DESC-Container">
              <div class="custom-subject">
                <label class="desc-subject-lbl">Subject</label>
                <form>
                  <input class="desc-subject-input" type="text" name="search">
                </form>
              </div>

              <div class="custom-desc-textarea">
                <label class="desc-lbl">Description</label>
                <div class="textarea-container">
                  <textarea></textarea>
                </div>
              </div>

              <div class="custom-desc-textarea">
                <label class="desc-lbl">Internal Comments</label>
                <div class="textarea-container">
                  <textarea></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-button-Container">
          <div class="custom-button-Click">
            <div class="btn-ClickCancel">
              <button class="btn-Cancel" (click)="createCasetoogleTag()">Cancel</button>
            </div>

            <div class="btn-ClickSave">
              <button class="btn-Save">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-btn-Assign-blog">
      <div class="btnClickAssign">
        <button class="btnAssignCase" (click)="assignCasetoogleTag()">Assign To</button>
      </div>

      <div class="custom-assign-popup" *ngIf=" showAssignPopop">
        <div class="custom-show-assign-blog">
          <div class="title-assign-container">
            <h4>Assign Case To</h4>
            <hr class="line-break">
          </div>

          <div class="select-agent-toAssign-container">
            <div class="assign-lbl-container">
              <label class="agents-lbl" for="department">Departments</label>
              <div class="custom-select-agent">
                <select [(ngModel)]="selectedValue">
                  <option hidden>Choose Department</option>
                  <option value="none">--None--</option>
                  <option value="dept_IT">IT</option>
                  <option value="dept_Acc">Accounting</option>
                  <option value="dept_Payroll">Payroll</option>
                  <!-- <option *ngFor="let dept of departments" [value]="dept.id">
                    {{dept.name}}
                  </option> -->

                  <!-- <option value="dept_IT">IT</option>
                  <option value="dept_Acc">Accounting</option> -->
                </select>

              </div>

              <div class="custom_department_IT" *ngIf="selectedValue == 'dept_IT'">
                <label class="dept_IT_lbl">Choose Agent of IT Department</label>
                <div class="department_IT" *ngFor="let depts_IT of departments_IT">
                   <label class="IT_agent_name" >
                    <input type="radio" name="departmentIT" value="{{depts_IT.name}}" (change)="radioChangeHandler($event)">
                     {{depts_IT.name}}
                  </label>
                </div>
                <!-- <p>You have selected: {{ SelectAgentName}}</p> -->
              </div>

              <div class="custom_department_account" *ngIf="selectedValue == 'dept_Acc'">
                <label class="dept_acc_lbl">Choose Agent of Account Department</label>
                <div class="department_acc" *ngFor="let depts_acc of departments_account">
                   <label class="account_agent_name" >
                    <input type="radio" name="departmentAccount" value="{{depts_acc.name}}" (change)="radioChangeHandler($event)">
                     {{depts_acc.name}}
                  </label>
                </div>
              </div>

              <div class="custom_department_payroll" *ngIf="selectedValue == 'dept_Payroll'">
                <label class="dept_payroll_lbl">Choose Agent of Payroll Department</label>
                <div class="department_payroll" *ngFor="let depts_payroll of departments_payroll">
                   <label class="payroll_agent_name" >
                    <input type="radio" name="departmentPayroll" value="{{depts_payroll.name}}" (change)="radioChangeHandler($event)">
                     {{depts_payroll.name}}
                  </label>
                </div>
              </div>
            </div>

            <div class="custom-Button">
              <div class="click-cancel2">
                <button class="btn-cancel2" (click)="assignCasetoogleTag()">Cancel</button>
              </div>

              <div class="click-assign">
                <button class="btn-assign">Assign</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- p-relative -->
  <div class="custom-table">
    <!-- p-absolute z-1000 w-100 h-100 -->
    <div class="invisible-blur-container" [ngClass]=" showCasePopup || showAssignPopop ? 'show-invisible-blur-container': ''"></div>

    <mat-tab-group>
      <mat-tab label="View Incoming Cases">
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>N.</th>
                <th><input type="checkbox" (change)="checkAll($event)"></th>
                <th>Case Number</th>
                <th>Contact Name</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date/Time Opened</th>
                <th>Case Owner</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of this.rows">
               <td>
                {{item.n}}
               </td>

               <td>
                <input type="checkbox" [checked]="checks">
                {{item.all}}
               </td>

               <td>
                {{item.caseNumber}}
               </td>

               <td>
                {{item.contactName}}
               </td>

               <td>
                {{item.subject}}
               </td>

               <td>
                {{item.status}}
               </td>

               <td>
                {{item.priority}}
               </td>

               <td>
                {{item.dateTime}}
               </td>

               <td>
                {{item.caseOwner}}
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="View Case by Product">
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>N.</th>
                <th><input type="checkbox" (change)="checkAll($event)"></th>
                <th>Case Number</th>
                <th>Contact Name</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date/Time Opened</th>
                <th>Case Owner</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of this.rows">
               <td>
                {{item.n}}
               </td>

               <td>
                <input type="checkbox" [checked]="checks">
                {{item.all}}
               </td>

               <td>
                {{item.caseNumber}}
               </td>

               <td>
                {{item.contactName}}
               </td>

               <td>
                {{item.subject}}
               </td>

               <td>
                {{item.status}}
               </td>

               <td>
                {{item.priority}}
               </td>

               <td>
                {{item.dateTime}}
               </td>

               <td>
                {{item.caseOwner}}
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="View Current Cases">
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>N.</th>
                <th><input type="checkbox" (change)="checkAll($event)"></th>
                <th>Case Number</th>
                <th>Contact Name</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date/Time Opened</th>
                <th>Case Owner</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of this.rows">
               <td>
                {{item.n}}
               </td>

               <td>
                <input type="checkbox" [checked]="checks">
                {{item.all}}
               </td>

               <td>
                {{item.caseNumber}}
               </td>

               <td>
                {{item.contactName}}
               </td>

               <td>
                {{item.subject}}
               </td>

               <td>
                {{item.status}}
               </td>

               <td>
                {{item.priority}}
               </td>

               <td>
                {{item.dateTime}}
               </td>

               <td>
                {{item.caseOwner}}
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="View Old Cases">
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>N.</th>
                <th><input type="checkbox" (change)="checkAll($event)"></th>
                <th>Case Number</th>
                <th>Contact Name</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Date/Time Opened</th>
                <th>Case Owner</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of this.rows">
               <td>
                {{item.n}}
               </td>

               <td>
                <input type="checkbox" [checked]="checks">
                {{item.all}}
               </td>

               <td>
                {{item.caseNumber}}
               </td>

               <td>
                {{item.contactName}}
               </td>

               <td>
                {{item.subject}}
               </td>

               <td>
                {{item.status}}
               </td>

               <td>
                {{item.priority}}
               </td>

               <td>
                {{item.dateTime}}
               </td>

               <td>
                {{item.caseOwner}}
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
