<div class="defaultContent">
  <div class="page-header">
    <div class="custom-case-list">
      <div class="custom-case-image">
        <img class="case-image" src="./assets/images/selection-icons/dashboard.png">
      </div>

      <div class="select-case-option">
        <mat-form-field appearance="fill">
          <mat-label>Cases</mat-label>
          <mat-select disableRipple>
          <mat-label class="list-cases-lbl">LIST VIEWS</mat-label>
          <mat-option value="1">All Closed Cases </mat-option>
          <mat-option value="2">All Open Cases </mat-option>
          <mat-option value="3">My Cases</mat-option>
          <mat-option value="4">My Open Cases</mat-option>
          <mat-option value="5">Recently Viewed</mat-option>
          <mat-option value="6">Recently Viewed Cases</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cases-pin">
        <mat-icon><i class="fas fa-thumbtack"></i></mat-icon>
      </div>

      <div class="button-toggle">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="new">Create New Case</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="status-sort-case">
      <span>3 items • Sorted by Case Number • Filtered by All cases - Closed</span>
    </div>
  </div>

  <div class="list-Container">
    <table>
      <thead>
          <tr>
              <th>N.</th>
              <!-- <th><input type="checkbox" (change)="checkAll($event)"></th> -->
              <th>Case Number</th>
              <th>Contact Name</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Date/Time Opened</th>
              <th>Case Owner</th>
              <th>Option</th>
          </tr>
      </thead>
      <tbody>
          <!-- <tr *ngFor="let item of this.rows">
              <td>{{item.n}}</td>
              <td>
                <input type="checkbox" [checked]="checks">
                {{item.all}}
              </td>
              <td>
                <a class="case-num-href" href="">
                  {{item.caseNumber}}
                </a>

              </td>
              <td>
                <div class='edit_hover_class'>
                  <a class="name-href" href="#">
                    {{item.contactName}}
                  </a>
                  <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a>
               </div>

              </td>
              <td>
                <div class='edit_hover_class'>
                  <a class="subject-href" href="#">
                    {{item.subject}}
                  </a>
                  <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a>
                </div>
              </td>
              <td>
                <div class='edit_hover_class'>
                  <span class="status-edit">
                    {{item.status}}
                  </span>
                  <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a>
                </div>
              </td>
              <td>
                <div class='edit_hover_class'>
                  <span class="priority-edit">
                    {{item.priority}}
                  </span>
                  <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a>
                </div>
              </td>
              <td>{{item.dateTime}}</td>
              <td>{{item.caseOwner}}</td>
              <td>
                {{item.option}}
                <select>
                  <option hidden></option>
                  <option><a href="">Edit</a></option>
                  <option><a href="">Delete</a></option>
                  <option><a href="">Change Owner</a></option>
                </select>
              </td>
          </tr> -->
      </tbody>
  </table>
  </div>
</div>

