<div class="defaultPageContainer">
  <div class="defaultHeader">
    <div class="custom-logo-page">
      <div class="logo_navbar" routerLink="/cases">
        <img src="./assets/images/logo.png">
      </div>
    </div>

    <div class="search-menuIcon-container">
      <div class="Custom-searchForm">
        <form class="searchForm">
            <input type="text" name="search-item" placeholder="Search Cases and more ..." [(ngModel)]="username" (input)="search()">
            {{searchText}}
            <!-- <div class="custom-search-btn">
              <button class="btn-icon-search"><i class="fi-rr-search"></i></button>
            </div> -->
        </form>
      </div>

      <div class="Custom-Menu-icons">
        <div class="custom-user-profile">
          <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
            <ng-container *ngIf="arrAgentAccount?.imageDownloadUrl">
              <img class="avatarImg1" [src]="checkLocalStoragePath(arrAgentAccount.imageDownloadUrl)">
            </ng-container>

              <ng-container *ngIf="!arrAgentAccount?.imageDownloadUrl">
                <img class="avatarImg1"
                  [src]="arrAgentAccount?.gender === 'Male' ? '/assets/icons/boy.png' : '/assets/icons/girl.png'">
              </ng-container>
          </button>

          <mat-menu #menu2="matMenu">
            <div class="inside-popup">
              <ng-container *ngIf="arrAgentAccount?.imageDownloadUrl">
                <img class="avatarImg2" [src]="checkLocalStoragePath(arrAgentAccount.imageDownloadUrl)">
              </ng-container>

                <ng-container *ngIf="!arrAgentAccount?.imageDownloadUrl">
                  <img class="avatarImg2"
                    [src]="arrAgentAccount?.gender === 'Male' ? '/assets/icons/boy.png' : '/assets/icons/girl.png'">
                </ng-container>
              <div class="user-info">
                <h4>Agent: {{arrAgentAccount?.agentDepartment?.name}}</h4>
                <span class="span1">Name: {{arrAgentAccount?.username}} </span><br>
                <span class="span2">{{arrAgentAccount?.email}}</span>
              </div>
            </div>

            <button mat-menu-item>
              <i class="fas fa-key"></i>
              <span>Change Password</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-user-circle"></i>
              <span>Change Username</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-pen"></i>
              <span>Edit Profile</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-sign-out-alt"></i>
              <span (click)="btnLogOutClicked()">Sign Out</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="Navigation-service">
    <div class="serviceContainer">
      <div class="grid-icon">
        <i class="fi-rr-layout-fluid"></i>
      </div>

      <div class="service-console">
        <span>Service Console</span>
      </div>

      <div class="CasesContainer">
        <select ng-model="items" (change)="itemSelected($event)">
          <ng-container *ngFor="let item of Items">
            <option *ngIf="!checkIfRouteIsActivated(item.name)">{{ item.name }}</option>
            <option *ngIf="checkIfRouteIsActivated(item.name)" selected>{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
</div>






