<div class="defaultPageContainer">
  <div class="defaultHeader">
    <div class="custom-logo-page">
      <div class="logo_navbar" routerLink="/cases">
        <img src="./assets/images/logo.png">
      </div>
    </div>

    <div class="search-menuIcon-container">
      <div class="Custom-searchForm">
        <form class="searchForm">
            <input type="text" name="search-item" placeholder="Search Cases and more ...">
            <div class="custom-search-btn">
              <button class="btn-icon-search"><i class="fi-rr-search"></i></button>
            </div>
        </form>
      </div>

      <div class="Custom-Menu-icons">
        <div class="notification-icon-container">
          <div class="notification-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
              <i class="fas fa-bell"></i>
            </button>
            <mat-menu #menu1="matMenu">
              <div class="nofify-inside-popup">
                <div class="nofify">
                  <span>Notifications</span>
                  <i class="fas fa-bell"></i>
                </div>

                <div>

                </div>
              </div>

              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>

        <div class="custom-user-profile">
          <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
            <img class="avatarImg1" src="./assets/images/avatar.png">
          </button>

          <mat-menu #menu2="matMenu">
            <div class="inside-popup">
              <img class="avatarImg2" src="./assets/images/avatar.png">
              <div class="user-info">
                <h4>Agent: Developer</h4>
                <span class="span1">Name: Chheun Chansreytoch </span><br>
                <span class="span2">chheunchansreytoch@gmail.com</span>
              </div>
            </div>

            <button mat-menu-item>
              <i class="fas fa-key"></i>
              <span>Change Password</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-user-circle"></i>
              <span>Change Username</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-pen"></i>
              <span>Edit Profile</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-sign-out-alt"></i>
              <span>Sign Out</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="Navigation-service">
    <div class="serviceContainer">
      <div class="grid-icon">
        <i class="fi-rr-layout-fluid"></i>
      </div>

      <div class="service-console">
        <span>Service Console</span>
      </div>

      <div class="CasesContainer">
        <select ng-model="items" (change)="itemSelected($event)">
          <ng-container *ngFor="let item of Items">
            <option *ngIf="!checkIfRouteIsActivated(item.name)">{{ item.name }}</option>
            <option *ngIf="checkIfRouteIsActivated(item.name)" selected>{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
</div>






