<div class="custom-view-All-Cases">
  <h2 mat-dialog-title>All Cases Related</h2>
  <mat-dialog-content class="mat-typography">
    <div class="defaultContentList">
      <div class="status-sort-case">
        <span>3 items • Sorted by Case Number • Filtered by All cases - Closed</span>
      </div>

      <div class="list-Container">
        <table>
          <thead>
            <tr>
              <th>N.</th>
              <th><input type="checkbox" (change)="checkAll($event)"></th>
              <th>Case Number</th>
              <th>Contact Name</th>
              <th>Subject</th>
              <th>Priority</th>
              <th>Date/Time Opened</th>
              <th>Status</th>
              <th>Case Owner</th>
              <th>Option</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of this.rows">
              <td>{{item.n}}</td>
              <td>
                <input type="checkbox" [checked]="checks">
                {{item.all}}
              </td>
              <td>
                <a class="case-num-href" href="">
                  {{item.caseNumber}}
                </a>
              </td>
              <td>
                <div class='edit_hover_class'>
                  <a class="name-href" href="#">
                    {{item.contactName}}
                  </a>
                  <!-- <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a> -->
                </div>
              </td>
              <td>
                <div class='edit_hover_class'>
                  <a class="subject-href" href="#">
                    {{item.subject}}
                  </a>
                  <a class="icon-edit-href" href='#'><i class="fi-rr-pencil"></i></a>
                </div>
              </td>
              <td>
                <div class="custom-priority">
                  {{item.priority}}
                </div>
              </td>
              <td>
                <div class="custom-dateTime">
                  {{item.dateTime}}
                </div>
              </td>
              <td>
                <div class="custom-status">
                  {{item.status}}
                </div>
              </td>
              <td>
                <div class="custom-caseOwner">
                  <a href="#">
                    {{item.caseOwner}}
                  </a>
                </div>
              </td>

              <td>
                <div class="custom-option-case">
                  <div class="edit-icon-container">
                    <button class="btn-edit"><i class="fi-rr-pencil"></i></button>
                    <span class="edit-tooltiptext">Edit</span>
                  </div>

                  <div class="delete-icon-container">
                    <button class="btn-delete"><i class="fi-rr-trash"></i></button>
                    <span class="delete-tooltiptext">Delete</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="custom-button">
      <div class="cancel-btn">
        <button mat-button mat-dialog-close>Cancel</button>
      </div>
    </div>
  </mat-dialog-actions>
</div>


