<!-- <div class="custom-report-list">
  <div class="custom-report-image">
    <img class="report-image" src="./assets/images/selection-icons/report.png">
  </div>

  <div class="select-report-option">
    <mat-form-field appearance="fill">
      <mat-label>Cases</mat-label>
      <mat-select [(ngModel)]="selectedOption">
      <mat-label class="list-cases-lbl">LIST VIEWS</mat-label>
      <mat-option value="1">All Contacts</mat-option>
      <mat-option value="2">Birthdays This Month</mat-option>
      <mat-option value="3">My Contacts</mat-option>
      <mat-option value="4">New Last Week</mat-option>
      <mat-option value="5">New This Week</mat-option>
      <mat-option value="6">Recently Viewed</mat-option>
      <mat-option value="7">Recently Viewed Contacts</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div> -->
<div class="defaultContent">
  <div class="page-header">
    <div class="custom-contact-list">
      <div class="case-contact-container">
        <div class="custom-image">
          <img class="image" src="./assets/images/selection-icons/report.png">
        </div>

        <div class="select-contact-option">
          <div class="custom-contact-lbl">
            <label class="contacts-lbl">Contacts</label>
          </div>
          <select ng-model="items" (change)="onSelectedOption($event)">
            <ng-container *ngFor="let item of Items">
              <option *ngIf="!checkIfRouteIsActivated(item.label)">{{ item.name }}</option>
              <option *ngIf="checkIfRouteIsActivated(item.label)" selected>{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-wraper">
  <router-outlet></router-outlet>
</div>
