<div class="form-dialog-container">
  <h4 mat-dialog-title>
    <span>
      <ng-container *ngIf="!data">Create</ng-container>
      <ng-container *ngIf="data">Update</ng-container>
      Case
    </span>
    <button class="btn-close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h4>

  <div mat-dialog-content>
    <form [formGroup]="registrationForm" (ngSubmit)="formSubmitted(registrationForm.value)">
      <!-- <div class="custom-field-0">
        <label class="label" for="caseNumber">Case Number</label>
        <input class="input" type="text" id="caseNumber" formControlName="caseNumber" readonly='readonly'>
        <button mat-button (click)="onCreateNumber()">
          <span>add_circle</span>
        </button>
        <p class="error-message" *ngIf="registrationForm.controls['caseNumber']?.touched && registrationForm.controls['caseNumber']?.errors?.required">Please Input Case Number.</p>
      </div> -->

      <div class="custom-field-0">
        <label class="label" for="status">Status</label>
        <select class="input" id="status" formControlName="status" required>
          <option *ngFor="let item of arrStatuses" value="{{item.id}}">{{item.name}}</option>
        </select>
        <p class="error-message" *ngIf="registrationForm.controls['status']?.touched && registrationForm.controls['status']?.errors?.required">Please Select Status.</p>
      </div>

      <div class="custom-field-0">
        <label class="label" for="priority">Priority</label>
        <select class="input" id="priority" formControlName="priority" required>
          <option *ngFor="let item of arrPriorities" value="{{item.id}}">{{item.name}}</option>
        </select>
        <p class="error-message" *ngIf="registrationForm.controls['priority']?.touched && registrationForm.controls['priority']?.errors?.required">Please Select Priority.</p>
      </div>

      <div class="custom-field-0">
        <label class="label" for="agentDepartment">Agent Department</label>
        <select class="input" id="agentDepartment" formControlName="agentDepartment" required (change)="selectDepartmentChanged($event)">
          <option *ngFor="let item of arrAgentDepartments" value="{{item.id}}">{{item.name}}</option>
        </select>
        <p class="error-message" *ngIf="registrationForm.controls['agentDepartment']?.touched && registrationForm.controls['agentDepartment']?.errors?.required">Please Select agent Department.</p>
      </div>

      <div class="custom-field-0">
        <label class="label" for="agent">Agent Name</label>
        <select class="input" id="agent" required formControlName="agent">
          <option>please select an agent name</option>
          <option *ngFor="let item of agentsBySelectedDepartment" value="{{item.id}}">{{item?.username}}</option>
        </select>
        <p class="error-message" *ngIf="registrationForm.controls['agent']?.touched && registrationForm.controls['agent']?.errors?.required">Please Select Agent Name.</p>
      </div>

      <div class="custom-field-0">
        <label class="label" for="subject">Subject</label>
        <input class="input" type="text" id="subject" required formControlName="subject">
        <p class="error-message" *ngIf="registrationForm.controls['subject']?.touched && registrationForm.controls['subject']?.errors?.required">Please Input Subject.</p>
      </div>

      <div class="custom-field-0">
        <label class="label" for="description">Description</label>
        <input class="input" type="text" id="description" required formControlName="description">
        <p class="error-message" *ngIf="registrationForm.controls['description']?.touched && registrationForm.controls['description']?.errors?.required">Please Input Description.</p>
      </div>
    </form>
  </div>

  <div class="custom-matdialog-footer" mat-dialog-actions>
    <button class="btn btn-close" mat-button mat-dialog-close>Close</button>
    <button class="btn btn-submit" (click)="formSubmitted(registrationForm.value)">
      <ng-container *ngIf="!data">Create</ng-container>
      <ng-container *ngIf="data">Save</ng-container>
    </button>
  </div>
</div>

