<div class="login-container">
  <div class="container">
    <div class="sign-in-container">
      <form class="sign-in-form" [formGroup]="loginForm" (ngSubmit)="formSubmited(loginForm.value)">
        <h3 class="formTitle">Sign In</h3>

        <div class="btnLoginWith">
          <button class="btnLoginEmail">Sign In using your email</button>
        </div>

        <p class="signEmail"><span>or sign in with your email</span></p>

        <!-- <label class="custom-field">
            <input class="form-input" type="text" name="username" required formControlName="username">
            <span class="placeholder">Username</span>
          </label> -->

        <!-- <label class="custom-field">
          <input class="form-input" type="email" name="email" required formControlName="email">
          <span class="placeholder">Email</span>
        </label>

        <label class="custom-field">
          <input class="form-input" type="password" name="password" required formControlName="password">
          <span class="placeholder">Password</span>
        </label> -->

        <div class="custom-field" style="margin-top: 15px;">
          <label class="input-label">Email</label>
          <input class="form-input" type="email" name="email" required formControlName="email">
        </div>

        <div class="custom-field">
          <label class="input-label">Password</label>
          <input class="form-input" type="password" name="password" required formControlName="password">
        </div>

        <div class="keep-logged">
          <input type="checkbox" checked="checked">
          <span> Remember me</span>
        </div>

        <button type="submit" class="btnLogin">Sign In</button>

        <div class="forgotPassword">
          <a href="#">Forgot your Password?</a>
        </div>
      </form>
    </div>

    <div class="intro-container">
      <h1>Hello, Friend!</h1>
      <p class="abc">Enter your personal details and start journey with us</p>
      <button class="ghost" id="signUp">Sign Up</button>
    </div>
  </div>
</div>
