.detailAccountContainer {
  font-family: $Roboto-font;
  .customAccountInfomation {
    margin-top: 10px;
    .accountInfoContainer {
      left: 30%;
      flex: 0;
      padding-left: 1px;
      padding-right: 11px;
      overflow-x: hidden;

      .customAccountInfo {
        border-radius: 5px;

        .account-list-container {
          width: 100%;
          display: flex;
          background: #f0f0f0;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          .custom-account-image {
            float: left;
            margin-right: 23px;
            padding: 5px;

            .account-image {
              padding: 4px ;
              margin-top: 2px;
              width: 33px;
              height: 33px;
            }
          }

          .account-title {
            //padding: 13px;

            label {
              margin-left: -19px;
              font-size: 11px;
              color: $black1;
            }

            .custom-name-span {
              span {
                font-size: 16px;
                margin-left: -20px;
                font-weight: bold;
              }
            }
          }
        }

        .CustomInformationDetail {
          width: 100%;
          background: $color7;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          .InfomationContainer {
            display: flex;
            .customTypeContainer {
              padding: 10px;
              margin-left: 2px;
              float: left;
              margin-right: 50px;
              label {
                font-size: 11px;
                color: $gray3;
              }

              .title-span {
                span {
                  font-size: 13px;
                }
              }
            }

            .customPhoneContainer {
              padding: 10px;
              margin-left: 2px;
              float: left;
              margin-right: 50px;
              label {
                font-size: 11px;
                color: $gray3;
              }

              .phone-span {
                a {
                  text-decoration: none;
                  span {
                    font-size: 13px;
                    color: $color2;
                  }
                }

                a:hover {
                  text-decoration: underline;
                  color: $color2;
                }
              }
            }

            .customAccountOwnerContainer {
              padding: 10px;
              margin-left: 2px;
              float: left;
              margin-right: 50px;
              label {
                font-size: 11px;
                color: $gray3;
              }

              .contact-owner-name-span {
                a {
                  text-decoration: none;

                  span {
                    font-size: 13px;
                    color: $color2;
                  }
                }

                a:hover {
                  text-decoration: underline;
                  color: $color2;
                }
              }
            }
          }
        }
      }
    }
  }
}
