@import "../../../../assets/styles/customer-ui-style/variables.scss";
.container-wrapper {
  .container-row {
    width: 100%;

    display: flex;
    padding-top: 30px;

    .tab-container-wrapper​​​​ {
      width: 360px;
      .search-container-wrapper {
        display: flex;
        background-color: white;
        box-shadow: 0 0 10px rgb(230, 230, 230);
        border-radius: 15px;
        padding: 10px;
        align-items: center;

        .mat-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          color: lightgrey;
        }

        input {
          background-color: transparent;
          width: 100%;
          padding: 0 10px;
          border: none;
          font-size: 14px;
        }
        // input::content {
        //   font-size: 14px;
        // }
        input::placeholder {
          opacity: 0.5;
        }
        input:focus {
          outline: none;
        }
      }
    }
    .chat-container-wrapper {
      flex: 1;
      margin-left: 80px;
      border-radius: 20px;
      box-shadow: 0 0 30px rgb(230, 230, 230);
      display: flex;
      flex-direction: column;
      padding: 20px;
      padding-top: 0;

      .chat-input {
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 20px rgb(230, 230, 230);
        padding: 10px;

        display: flex;

        input {
          flex: 1;
          padding: 0px 20px;
          border: none;
          box-sizing: border-box;
        }
        input::content {
          font-size: 14px;
        }
        input::placeholder {
          font-size: 16px;
          opacity: 0.5;
        }
        input:focus {
          outline: none;
        }
        .mini-button {
          cursor: pointer;
          padding: 10px;
          background-color: transparent;
          border-radius: 100%;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $main-color;
          &:hover {
            opacity: 0.6;
          }
          &:active {
            opacity: 0.8;
          }
          .mat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
          }
        }
        #attach-file-icon {
          transform: rotate(30deg);
        }
        #send-icon {
          transform: rotate(-45deg);
          background-color: $main-color;
          color: white;
        }
      }
    }
  }
  .plain-container {
    margin: 0;
    padding: 20px;
  }
}
