.detailContactContainer {
  .customContactInfomation {
    width: 100%;
    .customContactDetailChatter {
      display: flex;
      flex: 1;
      .contactDetailsContainer {
        min-width: 50%;
        padding-right: 5px;

        .customContactDetail {
          background: #f8f9fa;
          border-radius: 5px;
          height: 100%;

          .customAccountRelated {
            padding: 5px;
            margin-top: 10px;
            height: 294px;

            .account-contactRelated {
              display: flex;
              margin-top: 10px;
              background: #f0f0f0;
              border: 1px solid #e1e2e4;
              border-radius: 5px;
              .custom-contact-image{
                display: grid;
                place-items: center;
                padding: 5px;
                .contact-image {
                  padding: 4px ;
                  width: 33px;
                  height: 33px;
                }
              }

              .contacts-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .contact-panel-container {
                  a {
                    text-decoration: none;
                    .custom-contact-span {
                      color: $black2;
                      font-size: 16px;
                      font-weight: bold;
                    }

                    .custom-contact-span:hover {
                      color: $color2;
                    }
                  }
                  a:hover {
                    text-decoration: underline;
                    color: $color2;
                    transition: 0.5s;
                  }
                }

                .btn-container-contact {
                  display: flex;
                  line-height: 1.8;

                  .btn-view-all-contact {
                    border: 1px solid $color2;
                    border-radius: 5px;
                    background: #f8f9fa;
                    height: 27px;
                    margin-right: 10px;
                    button{
                      font-size: 13px;
                      line-height: 1.6;
                      color: $color2;
                      background: none;
                      border: none;
                      padding: 0;
                      span{
                        margin: 0;
                      }
                    }
                  }

                  .btn-view-all-contact:hover {
                    transition: 0.5s;
                    color: $color7;
                    background: $color2;

                    button:hover {
                      color: $color7;
                      transition: 0.5s;
                    }
                  }

                  .btn-New-contact {
                    border: 1px solid $color2;
                    background: #f8f9fa;
                    border-radius: 5px;
                    height: 27px;
                    margin-right: 10px;

                    button {
                      font-size: 13px;
                      line-height: 1.6;
                      color: $color2;
                      background: none;
                      border: none;
                      padding: 0;
                      span{
                        margin: 0;
                      }
                    }
                  }

                  .btn-New-contact:hover {
                    transition: 0.5s;
                    color: $color7;
                    background: $color2;

                    button:hover {
                      color: $color7;
                      transition: 0.5s;
                    }
                  }
                }
              }
              .contacts-title:hover {
                color: $color2;
              }
            }

            .account-caseRelated {
              display: flex;
              margin-top: 10px;
              background: #f0f0f0;
              border: 1px solid #e1e2e4;
              border-radius: 5px;

              .custom-case-image {
                display: grid;
                place-items: center;
                padding: 5px;
                .case-image {
                  padding: 4px ;
                  width: 33px;
                  height: 33px;
                }
              }

              .cases-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .case-panel-container {

                  a {
                    text-decoration: none;

                    .custom-case-span {
                      color: $black2;
                      font-size: 16px;
                      font-weight: bold;
                    }

                    .custom-case-span:hover {
                      color: $color2;
                    }
                  }
                  a:hover {
                    text-decoration: underline;
                    color: $color2;
                    transition: 0.5s;
                  }
                }

                .btn-container-case {
                  display: flex;
                  line-height: 1.8;

                  .btn-view-all-case {
                    border: 1px solid #6fa7f0;
                    border-radius: 5px;
                    background: #f8f9fa;
                    height: 27px;
                    margin-right: 10px;
                    button{
                      font-size: 13px;
                      line-height: 1.6;
                      color: #6fa7f0;
                      background: none;
                      border: none;
                      padding: 0;
                      span{
                        margin: 0;
                      }
                    }
                  }

                  .btn-view-all-case:hover {
                    transition: 0.5s;
                    color: $color7;
                    background: $color2;

                    button:hover {
                      color: $color7;
                      transition: 0.5s;
                    }
                  }
                }
              }

              .cases-title:hover {
                color: $color2;
              }
            }
          }

          .custom-upload-btn {
            padding: 23px 170px;

            .uploadingContainer {
              border: 1px solid $color2;
              border-radius: 5px;
              text-align: center;
              display: flex;
              height: 30px;
              line-height: 2;

              button {
                border: none;
                background: none;
                width: 100%;

                .fi-rr-upload {
                  font-size: 12px;
                  color: $color2;
                  margin-top: 2px
                }

                span {
                  font-size: 12px;
                  margin-left: 10px;
                  color: $color2;
                }
              }
            }

            .uploadingContainer:hover {
              transition: 0.5s;
              color: $color7;
              background: $color2;

              button .fi-rr-upload {
                color: $color7;
                transition: 0.5s;
              }

              button span:hover {
                color: $color7;
                transition: 0.5s;
              }
            }
          }

          .details-info-container {
            // height: 280px;
            overflow-x: hidden;
            .custom-caseowner-info {
              display: flex;
              justify-content: space-between;
              padding: 30px;

              .case-owner {
                label {
                  font-size: 11px;
                  color: $gray2;
                }

                .case-owner-span {
                  border-bottom: 1px solid $gray1;
                  width: 170px;
                  span {
                    font-size: 13px;
                    color: $color2;
                  }

                }
              }

              .phone-number {
                border-bottom: 1px solid $gray1;
                width: 200px;
                label {
                  font-size: 11px;
                  color: $gray2;
                  text-align: left;

                }

                .phone-number-span {
                  span {
                    font-size: 13px;
                    color: $color2;
                  }
                }
              }
            }

            .custom-name-details-info {
              display: flex;
              justify-content: space-between;
              padding: 30px;

              .case-owner {
                label {
                  font-size: 11px;
                  color: $gray2;
                }

                .case-owner-span {
                  border-bottom: 1px solid $gray1;
                  width: 170px;
                  span {
                    font-size: 13px;
                    color: $color2;
                  }

                }
              }

              .phone-number {
                border-bottom: 1px solid $gray1;
                width: 200px;
                label {
                  font-size: 11px;
                  color: $gray2;
                  text-align: left;

                }

                .phone-number-span {
                  span {
                    font-size: 13px;
                    color: $color2;
                  }
                }
              }
            }

            .custom-account-name-details-info {
              display: flex;
              justify-content: space-between;
              padding: 30px;

              .case-owner {
                label {
                  font-size: 11px;
                  color: $gray2;
                }

                .case-owner-span {
                  border-bottom: 1px solid $gray1;
                  width: 170px;
                  span {
                    font-size: 13px;
                    color: $color2;
                  }

                }
              }

              .phone-number {
                border-bottom: 1px solid $gray1;
                width: 200px;
                label {
                  font-size: 11px;
                  color: $gray2;
                  text-align: left;

                }

                .phone-number-span {
                  span {
                    font-size: 13px;
                    color: $color2;
                  }
                }
              }
            }

            .custom-title-details-info {
              display: flex;
              justify-content: space-between;
              padding: 30px;

              .case-owner {
                label {
                  font-size: 11px;
                  color: $gray2;
                }

                .case-owner-span {
                  border-bottom: 1px solid $gray1;
                  width: 170px;
                  span {
                    font-size: 13px;
                    color: $color2;
                  }

                }
              }

              .phone-number {
                border-bottom: 1px solid $gray1;
                width: 200px;
                label {
                  font-size: 11px;
                  color: $gray2;
                  text-align: left;

                }

                .phone-number-span {
                  span {
                    font-size: 13px;
                    color: $color2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
