.wraper {
  font-family: $Roboto-font;
  background: rgb(196, 196, 247);
  padding: 5px;
  display: flex;
  justify-content: space-between;

  .caseSideBar {
    width: 30%;
    margin: 5px;
    background-color:  #f8f9fa;
    box-shadow: 0 5px 15px #d4d7da;
    border-radius: 5px;

    .customCaseSidebar {
      .CaseSidebarHeaderContainer {
        .customCaseSidebarHeader {
          padding: 10px;
          .customShowAstable {
            margin-right: 29px;
            line-height: 2.3;
            text-align: center;
            float: right;

            a {
              text-decoration: none;

              .fi-rr-list {
                color: $black1;
                font-size: 16px;
              }
            }

            :hover {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              transition: 0.5s;
              background: #ccc;
            }
          }

          .search-form {
            padding: 10px;
            margin: 20px;

            form.example input[type=text] {
              display: flex;
              width: 100%;
              float: left;
              padding: 10px;
              font-size: 12px;
              border: 1px solid #ccc;
              border-radius: 5px;
              background: $color7;
              outline: none;
            }
          }
        }

        .customTitleSpan {
          margin-top: 10px;
          border-top: 1px solid $gray1;
          border-bottom: 1px solid $gray1;
          .title-span {
            padding: 10px;
            // margin-top: 10px;
            //margin-left: 31px;

            span {
              font-size: 14px;
              font-weight: bold;
            }
          }
        }

        .customListItems {
          //margin-top: 10px;
          // max-height: 310px;
          overflow-x: hidden;
          flex:1;
          ul {
            position: relative;
          }

          ul li {
            list-style: none;
            padding: 10px;
            font-size: 12px;
            //background: #fff;
            border-bottom: 1px solid $gray1;
            transition: transform(0.5s);

            .listItemContainer {
              display: flex;
              justify-content: space-between;
              .customCaseIssueDetail {
                .customCheckboxContainer {
                  display: flex;
                  margin-left: 10px;
                  .customCheckbox {
                    float: left;
                    margin-right: 10px;
                    margin-top: 10px;
                  }
                }
              }
            }

            a {
              text-decoration: none;
              color: $black1;
            }

            a:active {
              color: $color9;
              text-decoration: underline;
            }

          }

          ul li:hover {
            z-index: 100;
            //transition: 0.5s;
            color: $black1;
            background: #c0d9f1;

          }
        }
      }
    }
  }
}


.wraper::-webkit-scrollbar {
  display: none;
}

.wraper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.active {
  background: $color2;
  color: $color7;
  //transition: 0.5s;
}
