.detailCaseContainer {
  .customCaseDetailsContainer {
    left: 30%;
    width: 35%;
    padding: 10px;
    height: 457px;
    overflow-x: hidden;

    .customCaseDetail {
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 5px 15px #d4d7da;
      float: right;
      background-color: #f8f9fa;
      color: $black1;
      font-family: $Roboto-font;

      .case-list-container {
        display: flex;

        .custom-case-image {
          float: left;
          margin-right: 23px;
          padding: 5px;

          .case-image {
            padding: 4px ;
            width: 33px;
            height: 33px;
          }
        }

        .case-title {
          padding: 13px;
          span {
            font-size: 16px;
            margin-left: -30px;
            font-weight: bold;
          }
        }
      }

      .case-numberContainer {
        display: flex;
        justify-content: space-between;

        .custom-case-number {
          margin-left: 15px;

          .caseNum-span {
            font-size: 11px;
            color: $gray2;
          }

          .case-number {
            span {
              font-size: 12px;
            }
          }
        }

        .custom-case-owner {
          .caseOwner-span {
            margin-left: 35px;
            font-size: 11px;
            color: $gray2;
          }

          .name-caseOwner {

            span {
              padding: 35px;
              font-size: 12px;
              color: $color2;
            }
          }
        }
      }

      .custom-status-priority {
        display: flex;

        .custom-status {
          padding: 5px;
          float: left;
          margin-right: 171px;

          .status-span {
            margin-left: 10px;
            color: $gray2;
            font-size: 11px;
          }

          .custom-select-status {
            width: 90px;
            height: 25px;
            //margin-left: -8px;
            position: relative;

            .select-status {
              padding: 7px;
              margin-left: 2px;
              font-size: 11px;
              width: 100%;
              background: none;
              border: none;
              outline: none;
              -webkit-appearance: none;
              appearance: none;
            }

            .select-status:focus {
              background: #faf9f8;
              border-radius: 5px;
              border: 1px solid #54adf7;
              box-shadow: 0 0 3px #54adf7;
            }
          }

          .custom-select-status:after {
            content: "";
            position: absolute;
            text-align: center;
            right: 5px;
            top: 50%;
            margin-top: -4px;
            border-top: 6px solid #ccc;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            pointer-events: none;
          }
        }

        .custom-priority {
          margin-top: 5px;
          float: right;

          .priority-span {
            color: $gray2;
            font-size: 11px;
          }

          .custom-select-priority {
            width: 90px;
            height: 25px;
            position: relative;

            .select-priority {
              padding: 7px;
              margin-left: -5px;
              font-size: 11px;
              width: 100%;
              background: none;
              border: none;
              outline: none;
              -webkit-appearance: none;
              appearance: none;
            }

            .select-priority:focus {
              background: #faf9f8;
              border-radius: 5px;
              border: 1px solid #54adf7;
              box-shadow: 0 0 3px #54adf7;
            }
          }

          .custom-select-priority:after {
            content: "";
            position: absolute;
            text-align: center;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            border-top: 6px solid #ccc;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            pointer-events: none;
          }
        }
      }

      .custom-subject {
        padding: 5px;
        margin-left: 5px;

        .subject-span {
          font-size: 11px;
          color: $gray2;
        }

        .form-subject {
          padding: 2px;

          form {
            textarea {
              width: 100%;
              height: 35px;
              border: 1px solid $gray2;
              border-radius: 5px;
              line-height: 1.5;
              padding: 5px;
              text-indent: 10px;
              resize: none;
              outline: none;
              background: none;
            }

            textarea:focus {
              border: 1px solid #54adf7;
              box-shadow: 0 0 3px #54adf7;
            }
          }
        }
      }

      .custom-desc {
        padding: 5px;
        margin-left: 7px;
        .desc-span {
          font-size: 11px;
          color: $gray2;
        }

        .form-desc {
          form {
            textarea {
              padding: 10px;
              width: 100%;
              height: 70px;
              border: 1px solid $gray2;
              border-radius: 5px;
              background: none;
              overflow: auto;
              outline: none;
            }

            textarea:focus {
              border: 1px solid #54adf7;
              box-shadow: 0 0 3px #54adf7;
            }
          }
        }
      }

      .custom-cancel-save {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        .btn-cancel {
          padding: 5px 20px;
          background: #f8f9fa;
          border: 1px solid $gray1;
          border-radius: 5px;
          button {
            color: $color2;
            border: none;
            background: none;
          }
        }

        .btn-cancel:hover {
          background: #e7e8e9;
          transition: 0.5s;

          button {
            color: $color9;
          }
        }

        .btn-save {
          padding: 5px 20px;
          background: $color2;
          border-radius: 5px;

          button {
            color: $color7;
            border: none;
            background: none;
          }
        }

        .btn-save:hover {
          background: #5784be;
          transition: 0.5s;
        }
      }
    }


    /* Contact Details*/
    .customContactDetail {
      width: 100%;
      margin-top: 10px;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 5px 15px #d4d7da;
      float: right;
      background-color: #f8f9fa;
      color: $black1;
      font-family: $Roboto-font;

      .contact-list-container {
        display: flex;

        .custom-contact-image {
          float: left;
          margin-right: 23px;
          padding: 5px;

          .contact-image {
            //position: absolute;
            padding: 4px ;
            width: 33px;
            height: 33px;
            //margin-top: 5px
          }
        }

        .contact-title {
          padding: 13px;

          span {
            font-size: 16px;
            font-weight: bold;
            margin-left: -30px;
          }
        }
      }

      .contact-numberContainer {
        display: flex;
        justify-content: space-between;

        .custom-contact-number {
          margin-left: 10px;
          //padding: 1px 15px;
          width: 100%;
          border-bottom: 1px solid #ccc;

          .contactname-span{
            font-size: 11px;
            color: $gray2;
            //margin-left: -10px;

          }

          .contact-name {
            span {
              font-size: 14px;
            }
          }
        }
      }

      .custom-title-container {
        display: flex;
        justify-content: space-between;

        .custom-title {
          padding: 5px;
          margin-left: 10px;
          width: 100px;
          border-bottom: 1px solid #ccc;

          .title-span {
            color: $gray2;
            font-size: 11px;
            margin-left: -5px;
          }

          .title-name {
            width: 90px;
            font-size: 13px;
            margin-left: -5px;
            position: relative;

          }
        }

        .custom-accName {
          padding: 5px;
          margin-right: 10px;
          width: 100px;
          border-bottom: 1px solid #ccc;

          .accName-span {
            color: $gray2;
            font-size: 11px;
          }

          .title-accName {
            font-size: 13px;

            a {
              text-decoration: none;
              color: $color9;
            }

            a:hover {
              text-decoration: underline;
              color: $color9;
            }
          }
        }
      }

      .custom-email-phone-container {
        display: flex;
        justify-content: space-between;

        .custom-email {
          padding: 5px;
          margin-left: 10px;
          width: 100px;
          border-bottom: 1px solid #ccc;

          .email-span {
            color: $gray2;
            font-size: 11px;
            margin-left: -5px;
          }

          .email-name {
            width: 90px;
            font-size: 13px;
            margin-left: -5px;
            position: relative;

            a {
              text-decoration: none;
              color: $color9;
            }

            a:hover {
              text-decoration: underline;
              color: $color9;
            }
          }
        }

        .custom-phone {
          padding: 5px;
          margin-right: 10px;
          width: 100px;
          border-bottom: 1px solid #ccc;

          .phone-title-span {
            color: $gray2;
            font-size: 11px;
          }

          .phone-number-span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

