<div class="detailContactContainer">
  <div class="contactSidebarContainer">
    <router-outlet name='child1'></router-outlet>
  </div>

  <div class="customContactInfomation">
    <div class="contactInfoContainer">
      <router-outlet name='child2'></router-outlet>
    </div>

    <div class="customContactDetailChatter">
      <div class="contactDetailsContainer">
        <router-outlet name='child3'></router-outlet>
      </div>

      <div class="contactChatterContainer">
        <router-outlet name='child4'></router-outlet>
      </div>
    </div>
  </div>

</div>
