@import "../../../../assets/styles/customer-ui-style/variables.scss";

.header-wrapper {
  background-color: $main-color;
  /* Style the header with a background color and some padding */
  .header-container-wrapper {
    #header-right-wrapper-mobile {
      display: none;
    }
    padding: 20px 30px;
    margin: 0 auto;
    .header-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      place-content: center space-between;
    }
    // ============= header-question class
    .header-question {
      padding-top: 80px;
      font-size: $extra-large-size;
      text-align: center;
      color: $dark-white;
    }
    //  ============ search-bar class
    .search-bar {
      margin: 20px 16vw;
      border-radius: 100px;
      border: 5px solid $search-border-color;
    }
  }
}

.body-container {
  display: flex;
  padding: 20px 30px;
  .support-topic-container {
    width: calc(100% - 300px);
    padding: 20px 0;

    .large-font-style {
      font-weight: $bold-weight;
      color: $light-black;
    }
    hr {
      margin-top: 10px;
      color: $light-grey;
      opacity: 0.5;
    }

    .topic-grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
      padding-top: 20px;

      .topic-button {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 0 20px rgb(230, 230, 230);

        .topic-row {
          display: flex;
          padding: 20px;
          .primary-color-icon {
            color: $main-color;
          }
          .title-container {
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            text-align: start;
            .title {
              color: $light-black;
              font-weight: $bold-weight;
              font-family: $main-font;
            }
            .description {
              font-weight: $normal-weight;
              color: $light-grey;
              font-size: $small-size;
              font-family: $main-font;
            }
          }
        }
      }

      .topic-button:hover {
        background-color: $main-color;
        color: $dark-white;
        .primary-color-icon {
          color: $dark-white !important;
        }
        .title-container {
          .title {
            color: $dark-white !important;
          }
          .description {
            color: $dark-white !important;
          }
        }
      }

      .topic-button:active {
        opacity: 0.6;
      }
    }
  }

  .support-box-container {
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    .box {
      background-color: $dark-white;
      margin: 10px 0px;
      padding: 20px 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;

      .head {
        padding: 5px 0px;
        color: $light-black;
        font-size: $normal-size;
      }

      button {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: $main-color;
        box-shadow: 0 0 30px $dark-white;
        color: $dark-white;
        padding: 10px;
      }
      button:hover {
        opacity: 0.9;
      }
      button:active {
        opacity: 0.6;
      }
    }

    .box * {
      padding: 5px 0px;
      font-weight: $bold-weight;
      font-size: 12px;
      color: $light-grey;
    }
  }
}

@media only screen and (max-width: 900px) {
  .body-container {
    flex-direction: column;
    align-items: center;

    .support-topic-container {
      width: 100%;
    }
    .support-box-container {
      padding: 0;
      margin: 0;
      width: 100%;

      .box {
        width: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        .head {
          text-align: center;
        }
        button {
          width: 40vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  #header-right-wrapper-web {
    display: none;
  }
  // #header-right-wrapper-mobile {
  //   display: inline-block !important;
  // }
  .search-bar {
    padding: 10px !important;
    margin: 0 !important;
  }
  .topic-grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (max-width: 380px) {
  .search-bar {
    padding: 0px !important;
    margin: 0 !important;
    input {
      font-size: $small-size;
    }
  }
  .header-container-wrapper {
    font-size: $small-size !important;

    .header-question {
      padding-top: 40px !important;
      font-size: $normal-size !important;
    }
  }
  .box {
    button {
      padding: 5px !important;
    }
  }
}
