<div class="sidebar-container">
  <div class="above-container">
    <div class="sidebar-logo-container">
      <img class="image-logo" src="./assets/images/schoollink-logo.png">
    </div>

    <div class="navigation-container">
      <div class="line-title-container">
        <div class="line"></div>
        <h4>Case Management Dashboard</h4>
        <div class="line"></div>
      </div>

      <div class="nav-elements-container">
        <div class="nav-element-container" [routerLink]="'/admin-homepage'" [routerLinkActive]="'nav-element-container-active'">
          <span class="material-icons span-icon">home</span>
          <h4 class="nav-element-text">Home</h4>
        </div>

        <div class="nav-element-container" [routerLink]="'/admin-manage-cases'" [routerLinkActive]="'nav-element-container-active'">
          <span class="material-icons span-icon">business_center</span>
          <h4 class="nav-element-text">Cases</h4>
        </div>

        <div class="nav-element-container" [routerLink]="'/admin-manage-customers'" [routerLinkActive]="'nav-element-container-active'">
          <span class="material-icons span-icon">group</span>
          <h4 class="nav-element-text">Customers</h4>
        </div>

        <div class="nav-element-container" [routerLink]="'/admin-manage-agents'" [routerLinkActive]="'nav-element-container-active'">
          <span class="material-icons span-icon">group</span>
          <h4 class="nav-element-text">Agents</h4>
        </div>

        <div class="nav-element-container" [routerLink]="'/admin-manage-managers'" [routerLinkActive]="'nav-element-container-active'">
          <span class="material-icons span-icon">group</span>

          <h4 class="nav-element-text">Managers</h4>
        </div>

        <div class="nav-element-container" [routerLink]="'/agents'" [routerLinkActive]="'nav-element-container-active'">
          <span class="material-icons span-icon">assignment</span>
          <h4 class="nav-element-text">Report</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="below-container">
    <div class="line-title-container">
      <div class="line"></div>
      <h4>Support & Sign Out</h4>
      <div class="line"></div>
    </div>

    <div class="nav-element-container">
      <span class="material-icons span-icon">help</span>
      <h4 class="nav-element-text">Help & Support</h4>
    </div>

    <div class="nav-element-container">
      <span class="material-icons span-icon">logout</span>
      <h4 class="nav-element-text">Sign Out</h4>
    </div>
  </div>
</div>
