<div class="CustomAdminContent">
  <nav>
    <a href="#">
      <img class="image-logo" src="./assets/images/logo.png">
    </a>

    <ul>
      <li class="list-item">
        <div class="home-icon">
          <i class="fi-rr-home"></i>
        </div>

        <div class="route-content">
          <p class="p-link" [routerLink]="['/admin/homepage']"><span>Home</span></p>
        </div>
      </li>

      <li class="list-item">
        <div class="home-icon">
          <i class="fi-rr-users"></i>
        </div>

        <div class="route-content">
          <p class="p-link" [routerLink]="['/admin/manage/agents']"><span>Agent Accounts</span></p>
        </div>

      </li>

      <li class="list-item">
        <div class="home-icon">
          <i class="fi-rr-file-add"></i>
        </div>

        <div class="route-content">
          <p class="p-link" [routerLink]="['/admin/manage/cases']"><span>Manage Cases</span></p>
        </div>
      </li>

      <!-- <li class="list-item">
        <div class="home-icon">
          <i class="fi-rr-search-alt"></i>
        </div>

        <div class="route-content">
          <p class="p-link" [routerLink]="['/agents']"><span>View Cases</span></p>
        </div>
      </li>

      <li class="list-item">
        <div class="home-icon">
          <i class="fi-rr-cloud-check"></i>
        </div>

        <div class="route-content">
          <p class="p-link" [routerLink]="['/agents']"><span>View Agent</span></p>
        </div>
      </li> -->

      <li class="list-item">
        <div class="home-icon">
          <i class="fi-rr-list-check"></i>
        </div>

        <div class="route-content">
          <p class="p-link" [routerLink]="['/agents']"><span>Reports</span></p>
        </div>
      </li>
    </ul>
  </nav>
</div>
