<div class="document-page-container">
  <div class="navigation-menu-container-wrapper">
    <div class="navigation-menu-container">
      <div class="header">PRODUCTS</div>
      <div class="tab-button" (click)="tabButtonStatusClicked(0)" [ngClass]="{ 'active-button' : selectedIndex === 0 }">
        Mobile
      </div>
      <div class="tab-button" (click)="tabButtonStatusClicked(1)" [ngClass]="{ 'active-button' : selectedIndex === 1 }">
        Web
      </div>

    </div>
  </div>
  <div class="navigation-content-container-wrapper">
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
    <div class="navigation-content-container">
      <div class="title">{{dataObject.title}}</div>
      <div class="description">{{dataObject.description}}</div>
    </div>
  </div>
</div>
