<div class="page-wraper">
  <div class="page-statistic-container">
    <div class="card-container second">
      <div class="card-title">
        <h4>All Cases</h4>
      </div>
      <div class="card-content">
        <h2>{{ reportCase["all_cases"]["count"] }}</h2>
        <div class="more-info">impression 20%</div>
      </div>
    </div>

    <div class="card-container fourth">
      <div class="card-title">
        <h4>Today Cases</h4>
      </div>
      <div class="card-content">
        <h2>{{ reportCase?.casesToday?.count }}</h2>
        <div class="more-info">impression 20%</div>
      </div>
    </div>

    <div class="card-container third">
      <div class="card-title">
        <h4>Yesterday Cases</h4>
      </div>
      <div class="card-content">
        <h2>{{ reportCase?.casesYesterday?.count }}</h2>
        <div class="more-info">impression 20%</div>
      </div>
    </div>

    <!-- <div class="card-container fifth">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div> -->
  </div>

  <!-- <div class="page-statistic-container">
    <div class="card-container first">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2 class="animatedNumber0" id="animatedNumber0">245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container second">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container third">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container fourth">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container fifth">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="page-statistic-container">
    <div class="card-container first">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2 class="animatedNumber0" id="animatedNumber0">245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container second">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container third">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container fourth">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>

    <div class="card-container fifth">
      <div class="card-title">
        <h4>New Agents</h4>
      </div>
      <div class="card-content">
        <h2>245</h2>
        <div class="more-info">
          impression 20%
        </div>
      </div>
    </div>
  </div> -->
</div>
