@import "../../../../assets/styles/customer-ui-style/app.scss";
.container {
  text-align: center;
  font-weight: $bold;
  color: #333;
  .form-container {
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey;
    width: 100%;
    height: 1000px;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .label-container-wrapper {
      font-size: 20px;
      padding: 20px 0px;
    }
    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
  }
}
