<div class="container">
  <h1>Create Case</h1>
  <div class="form-container">
    <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="editor">
          <h3>Hello</h3>
        </label>
        <quill-editor formControlName='editor'></quill-editor>
        <button>Submit</button>
      </div>
    </form>

    <!-- <label class="label-container-wrapper">Title *</label>
    <input type="text" id="firstname" name="firstname" placeholder="Enter case title">
    <label class="label-container-wrapper">Description *</label> -->


  </div>


</div>
