<div class="customContactSidebar">
  <div class="CaseSidebarHeaderContainer">
    <div class="customCaseSidebarHeader">
      <div class="spanNumColumn">
        <span> • 5 items  </span>
      </div>

      <div class="customShowAstable">
        <a href="/contacts">
          <i class="fi-rr-list"></i>
        </a>
      </div>
    </div>

    <div class="Custom-searchForm">
      <form class="searchForm">
          <input type="text" name="search-item" placeholder="Search Cases and more ...">
          <div class="custom-search-btn">
            <button class="btn-icon-search"><i class="fi-rr-search"></i></button>
          </div>
      </form>
    </div>

    <div class="customTitleSpan">
      <div class="title-span">
        <span>Name</span>
      </div>
    </div>

    <div class="customListItems">
      <ul>
        <li *ngFor="let value of this.values">
          <div class="listItemContainer">
            <div class="customCaseIssueDetail">
              <div class="customCheckboxContainer">
                <div class="customCheckbox">
                  {{value.n}}
                </div>

                <div class="customCaseNumber" href="/cases/case-detail">
                  <div class="caseNumber">
                    <label>{{value.name}}</label>
                  </div>

                  <div class="caseSubject">
                    {{value.accountNumber}}
                  </div>
                </div>
              </div>
            </div>

            <div class="customCaseNameDetail">
              <div class="nameCaseOwner">
                <label>{{value.title}}</label>
              </div>

              <div class="status">
                <span>{{value.phone}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

