<div class="customAccountDetail">
  <mat-tab-group>
    <mat-tab label="Related">
      <div class="customAccountRelated">
        <div class="account-contactRelated">
          <div class="custom-contact-image">
            <img class="contact-image" src="./assets/images/selection-icons/contacts.png">
          </div>

          <div class="contacts-title">
            <div class="contact-panel-container">
              <a href="#">
                <div class="custom-contact-span">
                  <span class="contact-span">Contacts</span>
                  <span class="numOfContacts-span">(0)</span>
                </div>
              </a>
            </div>

            <div class="btn-container-contact">
              <div class="btn-view-all-contact">
                <button mat-button (click)="onClickViewAllContact()">View All</button>
              </div>

              <div class="btn-New-contact">
                <button mat-button (click)="onClickCreateNewContact()">New</button>
              </div>
            </div>
          </div>
        </div>

        <div class="account-caseRelated">
          <div class="custom-case-image">
            <img class="case-image" src="./assets/images/selection-icons/briefcase.png">
          </div>

          <div class="cases-title">
            <div class="case-panel-container">
              <a href="#">
                <div class="custom-case-span">
                  <span class="case-span">Cases</span>
                  <span class="numOfCases-span">(0)</span>
                </div>
              </a>
            </div>

            <div class="btn-container-case">
              <div class="btn-view-all-case">
                <button mat-button (click)="onClickViewAllCase()">View All</button>
              </div>

              <!-- <div class="btn-New">
                <button [routerLink]="['#']">New</button>
              </div> -->
            </div>
          </div>
        </div>

        <div class="custom-upload-btn">
          <div class="uploadingContainer">
            <button>
              <i class="fi-rr-upload"></i>
              <span>Upload Files</span>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Details">
      <div class="details-info-container">
        <div class="custom-caseowner-info">
          <div class="case-owner">
            <label>Case Owner</label>

            <div class="case-owner-span">
              <span>Chheun Chansreytoch</span>
            </div>
          </div>

          <div class="phone-number">
            <label>Phone</label>

            <div class="phone-number-span">
              <span>086 262 408</span>
            </div>
          </div>
        </div>

        <div class="custom-name-details-info">
          <div class="case-owner">
            <label>Case Owner</label>

            <div class="case-owner-span">
              <span>Chheun Chansreytoch</span>
            </div>
          </div>

          <div class="phone-number">
            <label>Phone</label>

            <div class="phone-number-span">
              <span>086 262 408</span>
            </div>
          </div>
        </div>

        <div class="custom-account-name-details-info">
          <div class="case-owner">
            <label>Case Owner</label>

            <div class="case-owner-span">
              <span>Chheun Chansreytoch</span>
            </div>
          </div>

          <div class="phone-number">
            <label>Phone</label>

            <div class="phone-number-span">
              <span>086 262 408</span>
            </div>
          </div>
        </div>

        <div class="custom-title-details-info">
          <div class="case-owner">
            <label>Case Owner</label>

            <div class="case-owner-span">
              <span>Chheun Chansreytoch</span>
            </div>
          </div>

          <div class="phone-number">
            <label>Phone</label>

            <div class="phone-number-span">
              <span>086 262 408</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
