<div class="customCaseSidebar">
  <div class="CaseSidebarHeaderContainer">
    <div class="customCaseSidebarHeader">
      <div class="customShowAstable">
        <a href="/cases/agent-all-closed-cases">
          <i class="fi-rr-list"></i>
        </a>
      </div>

      <div class="search-form">
        <form class="example">
          <input type="text" placeholder="Search.." name="search">
          <!-- <button type="submit"><i class="fi-rr-search"></i></button> -->
        </form>
      </div>
    </div>

    <div class="customTitleSpan">
      <div class="title-span">
        <span>Cases Owner Alias</span>
      </div>
    </div>

    <div class="customListItems">
      <ul *ngFor="let item of arrClosedCases; let i = index" [routerLink]="['/cases/case-details/']" [queryParams]="{key: item.id}" routerLinkActive="active">
        <li>
          <div class="listItemContainer">
            <div class="customCaseIssueDetail">
              <div class="customCheckboxContainer">
                <div class="customCheckbox">
                  {{i+1}}
                  <!-- key{{item?.id}} -->
                </div>

                <div class="customCaseNumber" href="/cases/case-detail">
                  <div class="caseNumber">
                    <label>{{item.caseNumber}}</label>
                  </div>

                  <div class="caseSubject">
                    {{item.subject}}
                  </div>
                </div>
              </div>
            </div>

            <div class="customCaseNameDetail">
              <div class="nameCaseOwner">
                <label>{{item?.customer?.username || item?.manager?.username}}</label>
              </div>

              <div class="status">
                <span>{{item?.status?.name}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="next-tab-side">
    <div class="customCaseDetailsContainer">
      <router-outlet></router-outlet>
    </div>

    <div class="customChatSideContainer">
      <router-outlet></router-outlet>
    </div>
  </div> -->

</div>





