<!-- <div class="custom-btn-delete-popup"> -->
  <!-- <p mat-dialog-title>Are you sure want to delete this row?</p> -->


  <!-- <div mat-dialog-content> -->
    <!-- <p>Are you sure want to delete this row?</p> -->
  <!-- </div> -->

  <!-- <div mat-dialog-actions> -->
    <!-- <div class="btn-delete-container"> -->
      <!-- <div class="custom-btn-cancel">
        <button class="btn-cancel" mat-button mat-dialog-close>No</button>
      </div>

      <div class="custom-btn-delete">
        <button class="btn-delete">Yes</button>
      </div>
    </div> -->
  <!-- </div> -->
<!-- </div> -->

<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>



