<div class="loginContainer">

    <form class="sign-in-form">
        <h2>SIGN IN</h2>

        <div class="input-field">
            <input class="input" type="text" placeholder="Firstname" required>
        </div>

        <div class="input-field">
            <input class="input" type="text" placeholder="Lastname" required>
        </div>

        <div class="input-field">
            <input class="input" type="email" placeholder="Email" required>
        </div>

        <div class="input-field">
            <input class="input" type="password" placeholder="Password" required>
        </div>

        <button class="btnLogin">Sign In</button>

        <div class="rememberContainer">
            <div class="rememberMe">
                <input type="checkbox" name="remember" value="Remember me">
                    <label class="lbl_rememberMe" for="remember"> Keep me logged in</label>
            </div>
               
            <div class="forgotPassword">
                <a href="#">Forgot your Password</a>
            </div>
        </div>
       
    </form>
            
</div>


