<div class="CustomLogin">
    <form [formGroup]="loginForm" (ngSubmit)="formSubmited(loginForm.value)" class="sign-in-form" action="" method="">
        <div class="loginform">
            <h2>Sign In</h2>
            <div class="btnLoginWith">
                <button class="btnLoginEmail">Sign In using your email</button>
            </div>

            <p><span>or sign in with your email</span></p>

            <label class="custom-field">
                <input class="form-input" type="text" name="fname" required>
                <span class="placeholder">First Name</span>
            </label>

            <label class="custom-field">
                <input class="form-input" type="text" name="lmail" required>
                <span class="placeholder">Last Name</span>
            </label>

            <label class="custom-field">
                <input class="form-input" type="text" name="email" required>
                <span class="placeholder">Email</span>
            </label>

            <label class="custom-field">
                <input class="form-input" type="text" name="password" required>
                <span class="placeholder">Password</span>
            </label>

            <div class="rememberContainer">
                <div class="rememberMe">
                    <input class="check-input" type="checkbox" name="remember" value="Remember me">
                        <label class="lbl_rememberMe" for="remember"> Keep me logged in</label>
                </div>
            </div>

            <button class="btnLogin">Sign In</button>
            <!-- <button class="btnLogin" [routerLink]="['/cases']">Sign In</button> -->

            <div class="rememberContainer">
                <div class="forgotPassword">
                    <a href="#">Forgot your Password</a>
                </div>
            </div>
    </div>
</form>
</div>


