<div class="loginContainer">
    <form class="sign-in-form">
        <h2 class="title-signIn">Sign In</h2>

        <div class="input-field">
            <input class="input" type="text" placeholder="Firstname" required>
        </div>

        <div class="input-field">
            <input class="input" type="text" placeholder="Lastname" required>
        </div>

        <div class="input-field">
            <input class="input" type="email" placeholder="Email" required>
        </div>

        <div class="input-field">
            <input class="input" type="password" placeholder="Password" required>
        </div>

        <div class="input-field">
            <input type="checkbox" class="rememberMe" name="remember" value="Remember me">
            <label for="remember"> Remember me?</label><br>
        </div>

        <button class="btnLogin">Sign In</button>

    </form>
            
</div>


