<!-- <div class="headerHomeContainer">
    <div class="headerContainer">
        <div class="logo_navbar">
            <div class="imageBar">
                <img src="./assets/images/logo.png">
            </div>

            <div class="SearchContainer">
                <div class="selectContainer">
                    <div class="custom-select">
                        <select>
                            <option value="">All</option>
                            <option value="">Cases</option>
                            <option value="">Contacts</option>
                            <option value="">Reports</option>
                            <option value="">Accounts</option>
                            <option value="">Dashboards</option>
                            <option value="">Dashboards</option>
                            <option value="">Chatter</option>
                            <option value="">Home</option>
                        </select>
                        <span class="custom-arrow"></span>
                    </div>
                </div>

                <div class="custom-SearchFormContainer">
                    <div class="custom-searchBar">
                        <div class="content">
                            <form action="" method="POST">
                                <i class="fas fa-search"></i>
                                <input type="text" class="input_search" placeholder="Search Cases and more...">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->

<!-- <form id="app-cover">
  <div id="select-box">
    <input type="checkbox" id="options-view-button">
    <div id="select-button" class="brd">
        <div id="selected-value">
            <span>Select a platform</span>
        </div>
        <div id="chevrons">
                <i class="fas fa-chevron-up"></i>
                <i class="fas fa-chevron-down"></i>
        </div>
    </div>
  </div>
</form> -->


