@import './assets/styles/app.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        width: 100%;
    }

    .LoginHeaderContainer {
        height: 100px;
    }

    .LoginFooterContainer {
        height: 100px;
    }

}