 .customAdminPage {
  .adminContainer {
    font-family: $Roboto-font;
    flex: 1;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;

    .custom-admin-header {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-family: $Roboto-font;
      background-color: $color7;
      box-shadow: 0 0 2px 2px #eff0f1;

      .custom-image-SidebarIcon {
        display: flex;
        align-items: center;

        h4 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          font-family: $primary-font;
        }

        .sideBar-icons {
          margin: 7px;
          float: left;
          margin-right: 9px;

          button {
           border: none;
           background: none;
           width: 30px;
           height: 30px;
           line-height: 1;

            .fi-rr-menu-burger {
              font-size: 18px;
              color: $black1;
            }
          }

          button:hover {
            transition: 0.5s;
            background: #cedde4;
            border-radius: 50%;
          }
        }

        .imageSrc {
          float: right;
          .image-logo {
            width: 150px;
            margin: 9px;
          }
        }
      }

      .custom-notify-userAcc {
        display: flex;
        justify-content: space-between;
        .search-form {
          form {
            display: flex;
            flex-direction: row;
            margin-right: 20px;

            overflow: hidden;
            border-radius: 20px;
            border: 1px solid #ccc;

            input, button {
              border: none;
              outline: none;
            }

            input[type=text] {
              padding: 8px 150px;
              padding-left: 15px;
              font-size: 12px;

              background: $color7;
              outline: none;
              text-indent: 10px;
            }

            .custom-search-btn {
              display: flex;
              align-items: center;
              justify-content: center;

              margin: 2px;
              padding: 10px 12px;
              border-radius: 50%;
              background-color: #ddd;

              .btn-icon-search {
                border: none;
                background: none;

                .fi-rr-search {
                  font-size: 13px;
                }
              }
            }

            .custom-search-btn:hover {
              background: $gray4;
            }
          }
        }

        .Custom-Menu-icons {
          .custom-user-profile {
            padding: 10px;
            span{
              margin: 0!important;
            }
            .avatarImg1 {
              width: 45px;
              height: 45px;
              //border: 2px solid #ccc;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .adminContentFront {
    flex: 1;
    overflow: auto;
  }
}

.custom-notifications {
  // padding: 5px;
  // margin: 0;
  h3 {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .customer-list-item {
    ul {
      li {
        list-style: none;
        display: flex;
        justify-content: space-between;

        .list-item {
          padding: 10px;
          .subject {
            span {
              font-size: 12px;
            }
          }

          .customer-name {
            span {
              font-size: 10px;
            }
          }

          .description {
            font-size: 12px;
          }

          .duration {
            span {
              font-size: 10px;
            }
          }
        }
      }

      li:nth-child(odd) {
        background: rgb(245, 245, 245);
      }
    }
  }
}

.mat-container {
  min-width: 400px !important;
}

