.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 30px;
  background-color: #eeeeee;
}

.mat-button-toggle-standalone, .mat-button-toggle-group {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
