.customAdminPage {
  background: #f8f9fa;
  .adminContainer {
    .custom-manage-cases {
      padding: 10px;
      width: 100%;
      color: $black1;
      font-family: $Roboto-font;

      .mat-tab-group{
        align-items: center;
        .mat-tab-header{
          width: 100%;
        }
        .mat-tab-body-wrapper{
          width: 100%;
          height: 100%;
          max-width: 1800px;
        }
      }

      .custom-table {
        position: relative;
        // height: 445px;
        // overflow-x: hidden;
        .invisible-blur-container {
          display: none;
          background: rgba(255,255,255,0.3);
          -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(2px);
          position: absolute;
          z-index: 1000;
          width: 100%;
          height: 100%;
        }

        .show-invisible-blur-container {
          display: block !important;
        }
        .mat-tab-label .mat-tab-label-content {
          font-size: 12px;
          // height: 445px;
          // overflow-x: hidden;
        }

        .table-scroll {
          height: 385px;
          overflow:auto;
          margin-top:20px;
        }

        .table-scroll table {
          width: 100%;
          border-collapse: collapse;
          box-shadow: 0 5px 10px #eff0f1;
          background: $color7;
          text-align: left;

          thead {
            width: 100%;
            box-shadow: 0 5px 10px #eff0f1;
          }

          thead tr {
            box-shadow: 0 1px 1px #ebeef1;
          }

          thead tr th {
            padding:  0.5rem 1rem;
            background-color: #b3d4df;
            line-height: 2.3;
            font-size: 13px;
          }

          tbody tr {
            box-shadow: 0 1px 1px #ebeef1;
          }

          tbody tr:hover {
            background-color: #dee2ff;
            //color: white;
            transition: 0.5s;
          }

          tbody tr th {
            padding:  0.5rem 2rem;
            background-color: #ced2f0;
            line-height: 2.3;
            font-size: 13px;
          }

          tbody tr td {
            padding:  0.8rem 1rem;
            line-height: 2;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.action-btn {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  outline: none;
  background: none;
}

button {
  .fa-pen {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  .fa-trash {
    font-size: 16px;
  }
}


.custom-button {
  display: flex;
  .btnCreate {
    float: left;
    margin-right: 10px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: $primary-color;
    background-color: $secondary-color;

    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
    font-family: $primary-font;

    span {
      margin: 0;
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
      color: $grey-color;
      background: $lighter-grey-color
    }
  }
}

.tab-search {
  display: flex;
  justify-content: end;
}
