<div class="customCaseDetail">
  <div class="case-list-container">
    <div class="custom-case-image">
      <img class="case-image" src="./assets/images/selection-icons/briefcase.png">
    </div>

    <div class="case-title">
      <span>Case Details</span>
    </div>
  </div>

  <div class="case-numberContainer">
    <div class="custom-case-number">
      <span class="caseNum-span">Case Number</span>
      <div class="case-number">
        <span>000010000</span>
      </div>
    </div>

    <div class="custom-case-owner">
      <span class="caseOwner-span">Case Owner</span>
      <div class="name-caseOwner">
        <span>Chheun Chansreytoch</span>
      </div>
    </div>
  </div>

  <div class="custom-status-priority">
    <div class="custom-status">
      <span class="status-span">Status</span>

      <div class="custom-select-status">
        <select class="select-status">
          <option selected>Closed</option>
          <option>New</option>
          <option>Working</option>
          <option>Escalated</option>
        </select>
      </div>
    </div>

    <div class="custom-priority">
      <span class="priority-span">Priority</span>

      <div class="custom-select-priority">
        <select class="select-priority">
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
      </div>
    </div>
  </div>

  <div class="custom-subject">
    <span class="subject-span">Subject</span>
    <div class="form-subject">
      <form>
        <textarea></textarea>
      </form>
    </div>
  </div>

  <div class="custom-desc">
    <span class="desc-span">Description</span>
    <div class="form-desc">
      <form>
       <textarea></textarea>
      </form>
    </div>
  </div>

  <div class="custom-cancel-save">
    <div class="btn-cancel">
      <button>Cancel</button>
    </div>

    <div class="btn-save">
      <button>Save</button>
    </div>
  </div>
</div>


<!-- Contact Details -->
<div class="customContactDetail">
  <div class="contact-list-container">
    <div class="custom-contact-image">
      <img class="contact-image" src="./assets/images/selection-icons/contacts.png">
    </div>

    <div class="contact-title">
      <span>Contact Details</span>
    </div>
  </div>

  <div class="contact-numberContainer">
    <div class="custom-contact-number">
      <span class="contactname-span">Name</span>
      <div class="contact-name">
        <span>Park Haram</span>
        <!-- <i class="fi-rr-pencil"></i> -->
      </div>
    </div>
  </div>

  <div class="custom-title-container">
    <div class="custom-title">
      <span class="title-span">Title</span>

      <div class="title-name">
        <span>SVP, Procurement</span>
      </div>
    </div>

    <div class="custom-accName">
      <span class="accName-span">Account Name</span>

      <div class="title-accName">
        <a href="#"> <span>Edge Communications</span></a>
      </div>
    </div>
  </div>

  <div class="custom-email-phone-container">
    <div class="custom-email">
      <span class="email-span">Email</span>

      <div class="email-name">
        <a href="#"><span>rose@edge.com</span></a>
      </div>
    </div>

    <div class="custom-phone">
      <span class="phone-title-span">Phone</span>

      <div class="phone-number-span">
        <span>(512) 757-6000</span>
      </div>
    </div>
  </div>
</div>


