.customAdminPage{
  .adminSideBar {
    width: 18%;
    float: left;
    height: 100vh;
    .CustomAdminContent {
      box-shadow: 0 5px 10px 1px #eff0f1;
      // float: left;
      //font-size: 50px;
      width: 100%;
      background: $color7;
      nav {
        padding: 40px;
        height: 100vh;

        .image-logo {
          width: 150px;
          margin: 0 auto;
        }

        ul {
          margin-left: -25px;
          .list-item {
            display: flex;
            padding: 5px;
            align-items: center;
            .home-icon{
              //margin-bottom: 15px;
              width: 30px;
              height: 30px;
              border: 1px solid #dee2ff;
              border-radius: 50%;
              background-color: #dee2ff;

              .fi-rr-home {
                font-size: 16px;
                padding: 2px 6px;
                line-height: 2;
              }

              .fi-rr-users {
                font-size: 16px;
                padding: 2px 6px;
                line-height: 2;
              }

              .fi-rr-file-add {
                font-size: 16px;
                padding: 2px 6px;
                line-height: 2;
              }

              .fi-rr-search-alt {
                font-size: 16px;
                padding: 2px 6px;
                line-height: 2;
              }

              .fi-rr-cloud-check {
                font-size: 16px;
                padding: 2px 6px;
                line-height: 2;
              }

              .fi-rr-list-check {
                font-size: 16px;
                padding: 2px 6px;
                line-height: 2;
              }
            }

            .route-content {
              margin-top: 15px;
              .p-link {
                text-decoration: none;
              }

              .p-link span{
                font-size: 13px;
                color: $black1;
                //line-height: 2.5;
                padding: 8px;
                font-weight: bold;
              }
            }
          }

          .list-item:hover {
            background-color: #dee2ff;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
          }
        }
      }
    }
  }
}
