.Custom-admin-footer {
  float: right;
  width: 100%;
  //border-top: 2px solid $color5;
    //background-color: $color2;
  //padding: 20px;
  height: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: $color7;
  box-shadow: 1px 1px 10px 3px #d7d8da;
}
