.defaultContainer {
  .defaultHeader {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: $Roboto-font;
    align-items: center;
    flex-direction: row;

    .logo_navbar {
      width: 150px;

      img {
        width: 100%;
        margin: 0 auto;
      }
    }

    .Custom-searchForm {
      form {
        padding: 1px;
        display: flex;
        flex-direction: row;

        input[type=text] {
          padding: 8px 150px;
          padding-left: 15px;
          font-size: 12px;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
          border-right: none;
          border-bottom: 1px solid #ccc;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background: $color7;
          outline: none;
          text-indent: 10px;
        }

        input:focus {
          border: 1px solid #54adf7;
          box-shadow: 0 0 3px #54adf7;
        }

        .custom-search-btn {
          width: 30px;
          line-height: 2.3;
          border: 1px solid $gray1;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          .btn-icon-search {
            border: none;
            background: none;

            .fi-rr-search {
              font-size: 13px;
              padding-left: 7px;
              // margin-right: 15px;
            }
          }
        }

        .custom-search-btn:hover {
          background: $gray4;
        }
      }
    }

    .Custom-Menu-icons {
      display: flex;

      .favorite-container {

        .favorite-icon {
          float: left;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 5px;
          background: #e9ecef;
          border-radius: 50%;

          .btn-favorite {
            border: none;
            outline: none;
            background: none;

            .fi-rr-star {
              font-size: 20px;
              color: $black2;
            }
          }
        }

        .favorite-icon-container:hover {
          background: #c5c7c9;
        }

        .custom-favorite-popup {
          position: absolute;
          margin-top: 35px;
          transition: width 2s, height 4s;

          .favorite-popup-container {
            overflow-x: hidden;
            padding: 10px;
            background-color: $color7;
            position: absolute;
            margin-left: -250px;
            width: 300px;
            height: 300px;
            //border: 1px solid #d4d7da;
            border-radius: 5px;
            color: $black1;
            font-family: $primary-font;
            box-shadow: 0 5px 25px #d4d7da;
            transition: width 2s, height 4s;


            .favorite-lbl {
              margin: 10px;
              margin-top: 20px;
              font-size: 14px;
              font-weight: bold;

              .fi-ss-star {
                font-size: 12px;
                color: #f8961e;
              }
            }

            ul {
              position: relative;
            }

            ul li {
              list-style: none;
              padding: 10px;
              font-size: 12px;
              background: #fff;
              transition: transform(0.5s);

              a {
                text-decoration: none;
              }

              a:active {
                color: $color9;
                text-decoration: underline;
              }

            }

            ul li:hover {
              // transform: scale(1.1);
              z-index: 100;
              background: #e9ecef;

            }
          }
        }
      }

      .add-icon-container {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 5px;
        background: #e9ecef;
        border-radius: 50%;

        .custom-add-popup {
          .btn-add {
            border: none;
            outline: none;
            background: none;

            .fi-rr-add {
              font-size: 20px;
              color: $black2;
            }
          }
        }
      }

      .add-icon-container:hover {
        background: #c5c7c9;
      }

      .support-icon-container {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 5px;
        background: #e9ecef;
        border-radius: 50%;

        .btn-support {
          border: none;
          outline: none;
          background: none;

          .fi-rr-interrogation {
            font-size: 20px;
            color: $black2;
          }
        }
      }

      .support-icon-container:hover {
        background: #c5c7c9;
      }

      .setting-icon-container {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 5px;
        background: #e9ecef;
        border-radius: 50%;

        .btn-setting {
          border: none;
          outline: none;
          background: none;

          .fi-rr-settings {
            font-size: 20px;
            color: $black2;
          }
        }
      }

      .setting-icon-container:hover {
        background: #c5c7c9;
      }

      .notification-icon-container {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 5px;
        background: #e9ecef;
        border-radius: 50%;

        .notification-icon {
          .btn-notification {
            border: none;
            outline: none;
            background: none;

            .fi-rr-bell {
              font-size: 20px;
              color: $black2;
            }
          }
        }

        .custom-notification-popup {
          position: absolute;
          margin-top: 4px;
          transition: width 2s, height 4s;

          .notification-popup-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-x: hidden;
            background-color: $color7;
            position: absolute;
            margin-left: -360px;
            width: 400px;

            //border: 1px solid #d4d7da;
            border-radius: 5px;
            color: $black1;
            font-family: $primary-font;
            box-shadow: 0 5px 25px #d4d7da;
            transition: width 2s, height 4s;

            .custom-notification-lbl {
              padding: 10px;
              .notification-lbl {
                float: left;
                font-size: 14px;
                font-weight: bold;
                margin-left: 10px;
                color: $black2;

                .fi-sr-bell {
                  font-size: 12px;
                }
              }

              .btn-close {
                border: none;
                background: none;
                float: right;
                width: 20px;
                height: 20px;
                padding: 2px;

                .fi-rr-cross-small {
                  font-size: 16px;
                }
              }

              .btn-close:hover {
                border-radius: 50%;
                background: salmon;
              }
            }

            .notification-text {
              padding: 20px;
              p {
                font-size: 14px;
                text-align: center;
                align-items: center;
              }
            }
          }
        }
      }

      .notification-icon-container:hover {
        background: #c5c7c9;
      }



      .custom-user-profile {
        float: right;

        .user-profile-container {
          .btn-profile {
            border: none;
            outline: none;
            background: none;

            .avatarImg {
              width: 35px;
              height: 35px;
              border: 2px solid #ccc;
              border-radius: 50%;
            }
          }
        }

        .custom-user-pf-popup {
          position: absolute;

          .UserProfileContainer {
            background-color: $color7;
            position: absolute;
            margin-left: -255px;
            width: 300px;
            border: 1px solid #d4d7da;
            border-radius: 5px;
            color: $black1;
            font-family: $primary-font;
            box-shadow: 0 5px 20px #d4d7da;

            .popupContainer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;

              .user-popup {
                width: 300px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                .userImg {
                  .avatarImg {
                    width: 35px;
                    margin-top: 10px;
                    margin-left: 15px;
                    border: 2px solid #ccc;
                    border-radius: 50%;
                  }

                  .info-user {
                    margin-top: -45px;
                    margin-left: 70px;

                    .profile-link-userName {
                      margin-right: 70px;
                      margin-top: 30px;
                      font-size: 15px;
                      font-weight: normal;
                      color: $black1;
                      text-decoration: none;
                    }

                    .profile-userEmail {
                      font-size: 11px;
                      font-weight: normal;
                      color: $gray3;
                    }

                    .profile-link-userName:hover{
                      text-decoration: underline;
                    }
                  }
                }
              }
            }

            .profileContainer {
              height: 35px;
              background-color: #f8f9fa;
              border-top: 1px solid #e9ecef;
              border-bottom: 1px solid #e9ecef;

              .profile-card-link {
                .user-profile-lable{
                  font-size: 14px;
                  padding: 5px;
                  font-weight: normal;
                  color: $gray5;
                }
              }
            }

            .editProfileContainer {
              .editProfile {
                .edit-profile-link {
                  font-size: 11px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-direction: row;
                  margin: 8px;
                  color: $black1;
                  text-decoration: none;
                }

                .edit-profile-link:hover {
                  color: $color9;
                  text-decoration: underline;
                }
              }
            }

            .UserSettingContainer {
              height: 35px;
              background-color: #f8f9fa;
              border-top: 1px solid #e9ecef;
              border-bottom: 1px solid #e9ecef;

              :active {
                transition: 0s 5s;
              }

              .setting-card-link .user-setting-lable {
                font-size: 14px;
                padding: 5px;
                margin-left: 4px;
                font-weight: normal;
                color: $gray5;
              }
            }

            .user-setting-layout .userSetting {
              font-size: 11px;
              display: flex;
              margin: 10px;
              color: $black1;
              text-decoration: none;

              .userSetting:hover {
                color: $color9;
                text-decoration: underline;
              }
            }

            .user-setting-layout .logOut {
              font-size: 11px;
              display: flex;
              margin: 10px;
              color: $black1;
              text-decoration: none;
            }

            .user-setting-layout .logOut:hover {
              color: $color9;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .Navigation-service {
    .serviceContainer {
      width: 100%;
      font-family: $primary-font;
      font-weight: normal;
      border-top: 1px solid $gray1;
      border-bottom: 3px solid $color10;
      display: flex;
      margin-top: -20px;

      .grid-icon {
        width: 2%;
        font-size: 22px;
        margin-top: 8px;
        margin-left: 20px;
      }

      .grid-icon a {
        color: $black3;
      }

      .grid-icon .fi-rr-layout-fluid:hover {
        text-shadow: 0 0 10px blue;
      }

      .service-console {
        width: 15%;
        border-right: 1px solid $gray1;
        padding: 8px;
        font-size: 18px;
      }

      .CasesContainer {
        width: 170px;
        position: relative;
        //border-top: 2px solid $color10;
      }

      .CasesContainer select{
        height: 40px;
        padding: 10px 20px;
        line-height: 15px;
        font-size: 12px;
        width: 100%;
        border: none;
        outline: none;
        border-right: 1px solid #ccc;
        //border-radius: 5px;
       -webkit-appearance: none;
        appearance: none;
      }

      .CasesContainer select:focus + .focus {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid var(--select-focus);
        border-radius: inherit;
      }

      .CasesContainer:after{
        content: "";
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -4px;
        border-top: 8px solid #ccc;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        pointer-events: none;
      }

      .CasesContainer select:focus {
        background: #faf9f8;
        border: 1px solid #54adf7;
        box-shadow: 0 0 3px #54adf7;
      }

      .CasesContainer select option {
        font-size: 14px;
        border: 1px solid #54adf7;
      }
    }
  }
}


@media screen and (max-width: 898px) {
  .defaultContainer{
    .defaultHeader {
      padding-top: 5px;
      .logo_navbar{
        width: 150px;
        position: absolute;

        img{
          width: 100%;
          margin-bottom: 10px;

        }
      }

      .custom-position {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .custom-position .select-dropdown-opt {
        border: 1px solid $gray1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 80px;
       .select-option {
        border: none;
       }
      }
      .custom-position .searchBarContainer {
        display: flex;
        flex-direction: row;
        margin-left: 97%;

        .Custom-searchForm {
          //padding-left: 20px;
          margin-top: 80px;
          padding-right: 150px;
        }
    }


      .navBar {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: -20px;
        right: 50px;

        .fav-icon-Container .fav-icon-lbl .fi-rr-star{
          margin-left: -5px;
          font-size: 26px
        }

        .menuContainer .custom-adding-menu .btn-adding-icon .fi-rr-add {
          font-size: 26px;
        }

        .help-support-Container .help-support-lbl .fi-rr-interrogation{
          font-size: 26px;
        }

        .setting-Container .setting-lbl .fi-rr-settings{
          font-size: 26px;
        }

        .notification-Container .notification-lbl .fi-rr-bell {
          font-size: 26px
        }
      }
    }

    .Navigation-service .serviceContainer {
      width: 100%;
      display: flex;
      margin-top: -17px;

        .grid-icon {
          display: flex;
          width: 10%;
          font-size: 18px;
          margin-top: 9px;
          margin-left: 20px;
          text-decoration: none;
          color:  $gray3;
        }

        .service-console {
          width: 35%;
          font-size: 16px;
        }

        .select-option {
          background-color: black;
        }

        .service-dropdown {
          width: 8%;
          border-right: 1px solid $gray1;
          padding: 8px;
        }

        .service-dropdown .selectService {
          width: 20px;
          border: 0px;
          outline:none;
          color: $gray5;
        }
      }
    }
  }

  @media screen and (max-width: 414px) {
    .defaultContainer{
      .defaultHeader {
        padding-top: 5px;
        .logo_navbar{
          width: 150px;
          position: absolute;

          img{
            width: 100%;
            margin-bottom: 10px;

          }
        }

        .custom-position {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .custom-position .select-dropdown-opt {
          border: 1px solid $gray1;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          margin-top: 80px;
         .select-option {
          border: none;
         }
        }
        .custom-position .searchBarContainer {
          display: flex;
          flex-direction: row;
          margin-left: 97%;

          .Custom-searchForm {
            //padding-left: 20px;
            margin-top: 80px;
            padding-right: 80px;
          }
      }


        .navBar {
          width: 100% !important;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          margin-top: -15px;
          right: 50px;

          .fav-icon-Container .fav-icon-lbl .fi-rr-star{
            margin-left: -5px;
            font-size: 26px
          }

          .menuContainer .custom-adding-menu .btn-adding-icon .fi-rr-add {
            font-size: 26px;
          }

          .help-support-Container .help-support-lbl .fi-rr-interrogation{
            font-size: 26px;
          }

          .setting-Container .setting-lbl .fi-rr-settings{
            font-size: 26px;
          }

          .notification-Container .notification-lbl .fi-rr-bell {
            font-size: 26px
          }
        }
      }

      .Navigation-service .serviceContainer {
        width: 100%;
        display: flex;
        margin-top: -17px;

          .grid-icon {
            display: flex;
            width: 10%;
            font-size: 18px;
            margin-top: 9px;
            margin-left: 20px;
            text-decoration: none;
            color:  $gray3;
          }

          .service-console {
            width: 35%;
            font-size: 16px;
          }

          .CasesContainer {
            width: 24%;
            border-right: 1px solid $gray1;
            padding: 11px;


          }

          .service-dropdown {
            width: 8%;
            border-right: 1px solid $gray1;
            padding: 8px;
          }

          .service-dropdown .selectService {
            width: 20px;
            border: 0px;
            outline:none;
            color: $gray5;
          }
        }
      }
    }

    @media screen and (max-width: 375px) {
      .defaultContainer{
        .defaultHeader {
          padding-top: 5px;
          .logo_navbar{
            width: 150px;
            position: absolute;

            img{
              width: 80%;
              margin-bottom: 10px;

            }
          }

          .custom-position {
            width: 51%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .custom-position .select-dropdown-opt {
            border: 1px solid $gray1;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-top: 80px;
           .select-option {
            border: none;
           }
          }
          .custom-position .searchBarContainer {
            display: flex;
            flex-direction: row;
            margin-left: 97%;

            .Custom-searchForm {
              //padding-left: 20px;
              margin-top: 80px;
              padding-right: 80px;
            }
        }


          .navBar {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin-top: -15px;
            right: 50px;

            .fav-icon-Container .fav-icon-lbl .fi-rr-star{
              margin-left: -10px;
              font-size: 22px
            }

            .menuContainer .custom-adding-menu .btn-adding-icon .fi-rr-add {
              font-size: 22px;
            }

            .help-support-Container .help-support-lbl .fi-rr-interrogation{
              font-size: 22px;
            }

            .setting-Container .setting-lbl .fi-rr-settings{
              font-size: 22px;
            }

            .notification-Container .notification-lbl .fi-rr-bell {
              font-size: 22px
            }
          }
        }

        .Navigation-service .serviceContainer {
          width: 100%;
          display: flex;
          margin-top: -17px;

            .grid-icon {
              display: flex;
              width: 10%;
              font-size: 18px;
              margin-top: 9px;
              margin-left: 20px;
              text-decoration: none;
              color:  $gray3;
            }

            .service-console {
              width: 35%;
              font-size: 16px;
            }

            .CasesContainer {
              width: 24%;
              border-right: 1px solid $gray1;
              padding: 11px;
            }

            .service-dropdown {
              width: 8%;
              border-right: 1px solid $gray1;
              padding: 8px;
            }

            .service-dropdown .selectService {
              width: 20px;
              border: 0px;
              outline:none;
              color: $gray5;
            }
          }
        }
      }

