.defaultContentFrontContainer {
  .defaultContentFront {
    .custom-case-list {
      display: flex;
      height: 60px;
      background-color: #f8f9fa;
      font-family: $Roboto-font;

      .case-list-container {
        display: flex;
        background-color: #eeeff0;
        .custom-case-image {
          float: left;
          margin-right: 20px;
          padding: 5px;
          height: 52px;
          .case-image {
            position: absolute;
            padding: 4px ;
            width: 33px;
            height: 33px;
            margin-top: 5px
          }
        }

        .select-case-option {
          width: 185px;
          position: relative;

          .custom-case-lbl {
            padding: 5px;
            margin-left: 15px;
            width: 50px;
            height: 5px;
            .cases-lbl {
              font-size: 10px;
              color: $black1;
              // padding: 15px;
            }
          }
        }

        .select-case-option select{
          overflow-x: auto;
          height: 52px;
          padding: 10px 20px;
          margin-top: -5px;
          width: 100%;
          //line-height: 15px;
          font-size: 13px;
          border: none;
          outline: none;
          //background: #eeeff0;
          background: none;
          font-weight: bold;
         -webkit-appearance: none;
          appearance: none;
        }

        .select-case-option select:focus + .focus {
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          border: 2px solid var(--select-focus);
          border-radius: inherit;
        }

        .select-case-option:after{
          content: "";
          position: absolute;
          right: 8px;
          top: 50%;
          margin-top: -4px;
          border-top: 8px solid #ccc;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          pointer-events: none;
        }

        .select-case-option select option {
          font-size: 14px;
          border: 1px solid #54adf7;
        }
      }
    }
  }
}


@media screen and (max-width: 898px) {
  .defaultContainer{
    .defaultHeader {
      padding-top: 5px;
      .logo_navbar{
        width: 150px;
        position: absolute;

        img{
          width: 100%;
          margin-bottom: 10px;

        }
      }

      .custom-position {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .custom-position .select-dropdown-opt {
        border: 1px solid $gray1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 80px;
       .select-option {
        border: none;
       }
      }
      .custom-position .searchBarContainer {
        display: flex;
        flex-direction: row;
        margin-left: 97%;

        .Custom-searchForm {
          //padding-left: 20px;
          margin-top: 80px;
          padding-right: 150px;
        }
      }
    }
  }
}



      //   .cases-pin {
      //     height: 30px;
      //     text-align: center;
      //     border: 1px solid #eeeff0;
      //     border-radius: 5px;
      //     background: #eeeff0;
      //     margin-left: 8px;
      //     margin-top: 10px;

      //       :hover {
      //         text-shadow: 0 0 10px blue;
      //       }
      //     .fa-thumbtack{
      //       color: #64696e;
      //       font-size: 14px;
      //     }
      //   }

      //   .button-toggle {
      //     padding: 10px;
      //   }

// .defaultContent {
//   width: 100%;
//   height: 70vh;
//   font-size: 13px;
//   font-family: $Roboto-font;

//   .page-header {
//     background-color: #f8f9fa;
//     display: flex;
//     flex-direction: column;

//     .custom-case-list {
//       display: flex;
//       height: 60px;
//       background-color: #f8f9fa;

//       .custom-case-image {
//         padding: 5px;
//         background-color: #eeeff0;
//         border: 1px solid #eeeff0;
//         height: 48px;
//         .case-image {
//           padding: 4px ;
//           width: 33px;
//           height: 33px;
//           margin-top: 5px
//         }
//       }

//       .cases-pin {
//         height: 30px;
//         text-align: center;
//         border: 1px solid #eeeff0;
//         border-radius: 5px;
//         background: #eeeff0;
//         margin-left: 8px;
//         margin-top: 10px;

//           :hover {
//             text-shadow: 0 0 10px blue;
//           }
//         .fa-thumbtack{
//           color: #64696e;
//           font-size: 14px;
//         }
//       }

//       .button-toggle {
//         padding: 10px;
//       }
//     }

//     .status-sort-case{
//       padding: 10px;
//     }
//   }

//   .list-Container {
//     text-align: center;

//     table {
//       width: 100%;

//     }

//     th {
//       background-color: #eeeeee;
//       padding: 7px;

//     }

//      table, th, td {
//        border: 1px solid #d8dadd;
//        border-collapse: collapse;
//        color: #343a40;
//      }

//      td {
//        font-size: 12px;
//        padding: 5px;
//      }

//      td select{
//       //-webkit-appearance: none;
//        width: 20px;
//        height: 20px;
//        border: 1px solid $gray1;
//        border-radius: 5px;
//        //background-color: #eeeff0;
//        outline: none;

//        option{
//         font-size: 14px;
//        }
//      }


//      td .edit_hover_class {
//       padding: 5px;
//     }

//     td .edit_hover_class .icon-edit-href{
//       visibility:hidden;
//       padding: 10px;
//       color: $black1;
//     }

//     td .edit_hover_class:hover .icon-edit-href {
//      visibility:visible;
//      color: $color9;

//     }

//      td .case-num-href {
//        text-decoration: none;
//        color: $black1;
//      }

//      td .case-num-href:hover {
//       text-decoration: underline;
//       color: $color9;
//     }

//     td .edit_hover_class .name-href {
//       text-decoration: none;
//       color: $black1;
//     }

//     td .edit_hover_class .name-href:hover {
//       text-decoration: underline;
//       color: $color9;
//     }

//     td .edit_hover_class .subject-href {
//       text-decoration: none;
//       color: $black1;
//     }

//     td .edit_hover_class .subject-href:hover {
//       text-decoration: underline;
//       color: $color9;
//     }

//     td .status-cases {
//       width: 90px;
//       position: relative;
//     }

//     td .status-cases .select-status{
//       height: 30px;
//       padding: 7px;
//       margin-left: 15px;
//       font-size: 11px;
//       width: 100%;
//       border: none;
//      -webkit-appearance: none;
//       appearance: none;
//     }

//     td .status-cases:after {
//       content: "";
//       position: absolute;
//       text-align: center;
//       right: 5px;
//       top: 50%;
//       margin-top: -4px;
//       border-top: 6px solid #ccc;
//       border-left: 4px solid transparent;
//       border-right: 4px solid transparent;
//       pointer-events: none;
//     }

//     td .status-cases .select-status:focus {
//       background: #faf9f8;
//       border: 1px solid #54adf7;
//       box-shadow: 0 0 3px #54adf7;
//     }

//     td .status-cases .select-status option {
//       font-size: 11px;
//     }

//     td .priority-cases {
//       width: 90px;
//       position: relative;
//     }

//     td .priority-cases .select-priority{
//       height: 30px;
//       padding: 7px;
//       margin-left: 15px;
//       font-size: 11px;
//       width: 100%;
//       border: none;
//     -webkit-appearance: none;
//       appearance: none;
//     }

//     td .priority-cases:after {
//       content: "";
//       position: absolute;
//       text-align: center;
//       right: 5px;
//       top: 50%;
//       margin-top: -4px;
//       border-top: 6px solid #ccc;
//       border-left: 4px solid transparent;
//       border-right: 4px solid transparent;
//       pointer-events: none;
//     }

//     td .priority-cases .select-priority:focus {
//       background: #faf9f8;
//       border: 1px solid #54adf7;
//       box-shadow: 0 0 3px #54adf7;
//     }

//     td .priority-cases .select-priority option {
//       font-size: 11px;
//     }

//     td .custom-option-case {
//       display: flex;
//       margin-left: 15px;

//       .edit-icon-container {
//         width: 25px;
//         height: 25px;
//         padding: 5px;
//         position: relative;
//         display: inline-block;

//         .btn-edit {
//           border: none;
//           background: none;
//         }

//         .edit-tooltiptext {
//           visibility: hidden;
//           font-size: 10px;
//           width: 50px;
//           background: #e9ecef;
//           color: $color9;
//           text-align: center;
//           border-radius: 6px;
//           padding: 5px 0;
//           position: absolute;
//           z-index: 1;
//           top: 150%;
//           left: 50%;
//           margin-left: -25px;
//         }

//         .edit-tooltiptext::after {
//           content: "";
//           position: absolute;
//           bottom: 100%;
//           left: 50%;
//           margin-left: -5px;
//           border-width: 5px;
//           border-style: solid;
//           border-color: transparent transparent #e9ecef transparent;
//         }
//       }

//       .edit-icon-container:hover {
//         background: #e9ecef;
//         border-radius: 50%;
//       }

//       .edit-icon-container:hover .edit-tooltiptext {
//         visibility: visible;
//       }

//       .delete-icon-container {
//         width: 25px;
//         height: 25px;
//         padding: 5px;
//         position: relative;
//         display: inline-block;

//         .btn-delete {
//           border: none;
//           background: none;
//         }

//         .delete-tooltiptext {
//           visibility: hidden;
//           font-size: 10px;
//           width: 50px;
//           background: #e9ecef;
//           color: $color9;
//           text-align: center;
//           border-radius: 6px;
//           padding: 5px 0;
//           position: absolute;
//           z-index: 1;
//           top: 150%;
//           left: 50%;
//           margin-left: -25px;
//         }

//         .delete-tooltiptext::after {
//           content: "";
//           position: absolute;
//           bottom: 100%;
//           left: 50%;
//           margin-left: -5px;
//           border-width: 5px;
//           border-style: solid;
//           border-color: transparent transparent #e9ecef transparent;
//         }
//       }

//       .delete-icon-container:hover {
//         background: #e9ecef;
//         border-radius: 50%;
//       }

//       .delete-icon-container:hover .delete-tooltiptext {
//         visibility: visible;
//       }

//       .changeOwner-icon-container {
//         width: 25px;
//         height: 25px;
//         padding: 5px;
//         position: relative;
//         display: inline-block;

//         .btn-changeOwner {
//           border: none;
//           background: none;
//         }

//         .changeOwner-tooltiptext {
//           visibility: hidden;
//           font-size: 10px;
//           width: 80px;
//           background: #e9ecef;
//           color: $color9;
//           text-align: center;
//           border-radius: 6px;
//           padding: 5px 0;
//           position: absolute;
//           z-index: 1;
//           top: 150%;
//           left: 50%;
//           margin-left: -40px;
//         }

//         .changeOwner-tooltiptext::after {
//           content: "";
//           position: absolute;
//           bottom: 100%;
//           left: 50%;
//           margin-left: -5px;
//           border-width: 5px;
//           border-style: solid;
//           border-color: transparent transparent #e9ecef transparent;
//         }
//       }

//       .changeOwner-icon-container:hover {
//         background: #e9ecef;
//         border-radius: 50%;
//       }

//       .changeOwner-icon-container:hover .changeOwner-tooltiptext {
//         visibility: visible;
//       }
//     }
//   }
// }


// }
