.defaultContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .defaultHeader {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .logo_navbar {
      width: 150px;

      img {
        width: 100%;
        margin: 0 auto;
      }
    }

    .custom-position {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }


    .custom-position .searchBarContainer {
      display: flex;
      flex-direction: row;

      .select-dropdown-opt {
        border: 1px solid $gray1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 7px;
        outline: none;
       .select-option {
        border: none;
       }
      }

      .Custom-searchForm {
        border: 1px solid $gray1;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 6px;
        padding-left: 20px;
        padding-right: 200px;

        .searchForm {

          .search-input {
            border: none;
            outline: none;
          }
        }
      }
    }

    .navBar {
      width: 19%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    .navBar .fav-icon-Container {

      #icons-check {
        display: none;
      }
      #icons-check:checked ~ .global-action-Container {
        display: block;
        transition: 5s;
      }

      .global-action-Container {
        position: absolute;
        margin: 20px;
        margin-left: -100px;
        width: 13%;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        background-color: $color7;
        color: $black1;
        font-weight: normal;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-family: $Roboto-font;
        display: none;
      }

      .global-action-Container .favorite-span {
        color: $black3;
        font-size: 11px;
      }
    }

    .navBar .fi-rr-star{
      color: $gray3;
      font-size: 23px;
      text-decoration: none;
      text-align: center;
    }

    .navBar .fi-rr-star:hover{
      text-shadow: 0 0 10px blue;
    }

    .navBar .menuContainer .custom-adding-menu {

      .btn-adding-icon {
        background: none;
        border: none;
        font-size: 23px;
        color: $gray3;
        line-height: 1px;
      }

      :hover {
        text-shadow: 0 0 10px blue;
      }
    }

    .global-action-span {
      font-size: 100px;
    }

    .navBar .fi-rr-interrogation{
        color: $gray3;
        font-size: 23px;
        text-decoration: none;
        text-align: center;
    }

    .navBar .fi-rr-interrogation:hover{
        text-shadow: 0 0 10px blue;
    }

    .navBar .fi-rr-settings{
      color: $gray3;
      font-size: 23px;
      text-decoration: none;
      text-align: center;
    }

    .navBar .fi-rr-settings:hover {
      text-shadow: 0 0 10px blue;
    }

    .navBar .fi-rr-bell {
      color: $gray3;
      font-size: 23px;
      text-decoration: none;
      text-align: center;
    }

    .navBar .fi-rr-bell:hover {
      text-shadow: 0 0 10px blue;
    }

    .navBar .userIMG {
      position: relative;
    }

    #check {
      display: none;
    }

    #check:checked ~ .UserProfileContainer {
      display: block;
      transition: 5s;
    }

    .navBar .userIMG .avatarImg {
      position: relative;
      width: 35px;
      height: 35px;
      border: 1px solid $gray3;
      border-radius: 50%;
    }

    .navBar .userIMG .avatarImg:hover {
      border: 2px solid $gray4;
      border-radius: 50%;
    }

    .navBar .userIMG .UserProfileContainer {
      display: none;
      background-color: $color7;
      position: absolute;
      margin-left: -255px;
      margin-top: 10px;
      width: 300px;
      border: 1px solid #b6b6b6;
      border-radius: 5px;
      color: $black1;
      font-family: $primary-font;

      .popupContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }

      .popupContainer .user-popup {
        width: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .popupContainer .user-popup .userImg .avatarImg {
        width: 35px;
        margin-top: 10px;
        margin-left: 15px;
        border: 2px solid $black1;
        border-radius: 50%;
      }

      .popupContainer .user-popup .userImg .info-user {
        margin-top: -45px;
        margin-left: 70px;
      }

      .popupContainer .user-popup .userImg .info-user .profile-link-userName {
        margin-right: 70px;
        margin-top: 30px;
        font-size: 15px;
        font-weight: normal;
        color: $black1;
        text-decoration: none;
      }

      .popupContainer .user-popup .userImg .info-user .profile-userEmail {
        font-size: 11px;
        font-weight: normal;
        color: $gray3;
      }

      .popupContainer .user-popup .userImg .info-user .profile-link-userName:hover{
        text-decoration: underline;
      }

      .profileContainer {
        height: 35px;
        background-color: $gray4;
        border-bottom: 1px solid #cfcdcd;

        .profile-card-link .user-profile-lable{
          font-size: 14px;
          padding: 7px;
          font-weight: normal;
          color: $gray5;
        }
      }

      .editProfileContainer {
        .editProfile .edit-profile-link {
          font-size: 11px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          margin: 8px;
          color: $black1;
          text-decoration: none;
        }

        .editProfile .edit-profile-link:hover {
          color: $color9;
          text-decoration: underline;
        }
      }

      .UserSettingContainer {
        height: 35px;
        background-color: $gray4;
        border-top: 1px solid #cfcdcd;
        border-bottom: 1px solid #cfcdcd;

        :active {
          transition: 0s 5s;
        }
      }

      .UserSettingContainer .setting-card-link .user-setting-lable {
        font-size: 14px;
        padding: 5px;
        margin-left: 4px;
        font-weight: normal;
        color: $gray5;
      }

      .user-setting-layout .userSetting {
        font-size: 11px;
        display: flex;
        margin: 10px;
        color: $black1;
        text-decoration: none;
      }

      .user-setting-layout .userSetting:hover {
        color: $color9;
        text-decoration: underline;
      }

      .user-setting-layout .logOut {
        font-size: 11px;
        display: flex;
        margin: 10px;
        color: $black1;
        text-decoration: none;
      }

      .user-setting-layout .logOut:hover {
        color: $color9;
        text-decoration: underline;
      }
    }
  }

  .Navigation-service {
    .serviceContainer {
      width: 100%;
      font-family: $primary-font;
      font-weight: normal;
      border-top: 1px solid $gray1;
      border-bottom: 3px solid $color10;
      display: flex;
      margin-top: -20px;

      .grid-icon {
        width: 2%;
        font-size: 22px;
        margin-top: 8px;
        margin-left: 20px;
      }

      .grid-icon a {
        color: $black3;
      }

      .grid-icon .fi-rr-layout-fluid:hover {
        text-shadow: 0 0 10px blue;
      }

      .service-console {
        width: 15%;
        border-right: 1px solid $gray1;
        padding: 8px;
        font-size: 18px;
      }

      .CasesContainer {
        width: 10%;
        border-top: 3px solid $color10;
        border-right: 1px solid $gray1;
        padding: 11px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: #eeeeee;
      }

      .CasesContainer .selectService {
        width: 130px;
        border: 0px;
        outline:none;
        color: $gray5;
        background-color: #eeeeee;
      }

      .CasesContainer .selectService .service-option{
        background-color: $color7;
      }
    }
  }
}


@media screen and (max-width: 898px) {
  .defaultContainer{
    .defaultHeader {
      padding-top: 5px;
      .logo_navbar{
        width: 150px;
        position: absolute;

        img{
          width: 100%;
          margin-bottom: 10px;

        }
      }

      .custom-position {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .custom-position .select-dropdown-opt {
        border: 1px solid $gray1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 80px;
       .select-option {
        border: none;
       }
      }
      .custom-position .searchBarContainer {
        display: flex;
        flex-direction: row;
        margin-left: 97%;

        .Custom-searchForm {
          //padding-left: 20px;
          margin-top: 80px;
          padding-right: 150px;
        }
    }


      .navBar {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: -20px;
        right: 50px;

        .fav-icon-Container .fav-icon-lbl .fi-rr-star{
          margin-left: -5px;
          font-size: 26px
        }

        .menuContainer .custom-adding-menu .btn-adding-icon .fi-rr-add {
          font-size: 26px;
        }

        .help-support-Container .help-support-lbl .fi-rr-interrogation{
          font-size: 26px;
        }

        .setting-Container .setting-lbl .fi-rr-settings{
          font-size: 26px;
        }

        .notification-Container .notification-lbl .fi-rr-bell {
          font-size: 26px
        }
      }
    }

    .Navigation-service .serviceContainer {
      width: 100%;
      display: flex;
      margin-top: -17px;

        .grid-icon {
          display: flex;
          width: 10%;
          font-size: 18px;
          margin-top: 9px;
          margin-left: 20px;
          text-decoration: none;
          color:  $gray3;
        }

        .service-console {
          width: 35%;
          font-size: 16px;
        }

        .select-option {
          background-color: black;
        }

        .service-dropdown {
          width: 8%;
          border-right: 1px solid $gray1;
          padding: 8px;
        }

        .service-dropdown .selectService {
          width: 20px;
          border: 0px;
          outline:none;
          color: $gray5;
        }
      }
    }
  }

  @media screen and (max-width: 414px) {
    .defaultContainer{
      .defaultHeader {
        padding-top: 5px;
        .logo_navbar{
          width: 150px;
          position: absolute;

          img{
            width: 100%;
            margin-bottom: 10px;

          }
        }

        .custom-position {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .custom-position .select-dropdown-opt {
          border: 1px solid $gray1;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          margin-top: 80px;
         .select-option {
          border: none;
         }
        }
        .custom-position .searchBarContainer {
          display: flex;
          flex-direction: row;
          margin-left: 97%;

          .Custom-searchForm {
            //padding-left: 20px;
            margin-top: 80px;
            padding-right: 80px;
          }
      }


        .navBar {
          width: 100% !important;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          margin-top: -15px;
          right: 50px;

          .fav-icon-Container .fav-icon-lbl .fi-rr-star{
            margin-left: -5px;
            font-size: 26px
          }

          .menuContainer .custom-adding-menu .btn-adding-icon .fi-rr-add {
            font-size: 26px;
          }

          .help-support-Container .help-support-lbl .fi-rr-interrogation{
            font-size: 26px;
          }

          .setting-Container .setting-lbl .fi-rr-settings{
            font-size: 26px;
          }

          .notification-Container .notification-lbl .fi-rr-bell {
            font-size: 26px
          }
        }
      }

      .Navigation-service .serviceContainer {
        width: 100%;
        display: flex;
        margin-top: -17px;

          .grid-icon {
            display: flex;
            width: 10%;
            font-size: 18px;
            margin-top: 9px;
            margin-left: 20px;
            text-decoration: none;
            color:  $gray3;
          }

          .service-console {
            width: 35%;
            font-size: 16px;
          }

          .CasesContainer {
            width: 24%;
            border-right: 1px solid $gray1;
            padding: 11px;

            
          }

          .service-dropdown {
            width: 8%;
            border-right: 1px solid $gray1;
            padding: 8px;
          }

          .service-dropdown .selectService {
            width: 20px;
            border: 0px;
            outline:none;
            color: $gray5;
          }
        }
      }
    }

    @media screen and (max-width: 375px) {
      .defaultContainer{
        .defaultHeader {
          padding-top: 5px;
          .logo_navbar{
            width: 150px;
            position: absolute;

            img{
              width: 80%;
              margin-bottom: 10px;

            }
          }

          .custom-position {
            width: 51%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .custom-position .select-dropdown-opt {
            border: 1px solid $gray1;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-top: 80px;
           .select-option {
            border: none;
           }
          }
          .custom-position .searchBarContainer {
            display: flex;
            flex-direction: row;
            margin-left: 97%;

            .Custom-searchForm {
              //padding-left: 20px;
              margin-top: 80px;
              padding-right: 80px;
            }
        }


          .navBar {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin-top: -15px;
            right: 50px;

            .fav-icon-Container .fav-icon-lbl .fi-rr-star{
              margin-left: -10px;
              font-size: 22px
            }

            .menuContainer .custom-adding-menu .btn-adding-icon .fi-rr-add {
              font-size: 22px;
            }

            .help-support-Container .help-support-lbl .fi-rr-interrogation{
              font-size: 22px;
            }

            .setting-Container .setting-lbl .fi-rr-settings{
              font-size: 22px;
            }

            .notification-Container .notification-lbl .fi-rr-bell {
              font-size: 22px
            }
          }
        }

        .Navigation-service .serviceContainer {
          width: 100%;
          display: flex;
          margin-top: -17px;

            .grid-icon {
              display: flex;
              width: 10%;
              font-size: 18px;
              margin-top: 9px;
              margin-left: 20px;
              text-decoration: none;
              color:  $gray3;
            }

            .service-console {
              width: 35%;
              font-size: 16px;
            }

            .CasesContainer {
              width: 24%;
              border-right: 1px solid $gray1;
              padding: 11px;
            }

            .service-dropdown {
              width: 8%;
              border-right: 1px solid $gray1;
              padding: 8px;
            }

            .service-dropdown .selectService {
              width: 20px;
              border: 0px;
              outline:none;
              color: $gray5;
            }
          }
        }
      }

