#headerContainer {
    background-color: $color7;
    padding: 25px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 120px;
    }
}