.headerHomeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .headerContainter {
        background-color: greenyellow;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 10px 20px;
        position: fixed;
    
        .logo_navbar {
            width: 150px;

            img {
                width: 100%;
            }
        }
    }

    .footerHomeContainer {
        height: 100px;
    }
}

    



