
#loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        width: 100%;
    }

    #LoginHeaderContainer {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo_navbar {
            width: 150px;
    
            img {
                margin: 0 auto;
                width: 100%;
            }
        }
    }

    #LoginFooterContainer {
        height: 100px;
    }
}
