#LoginFooterContainer {
    border-top: 2px solid $color5;
    background-color: greenyellow;
    padding: 25px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        color: $black1;
        font-size: 11px;
    }
}