.customAdminPage {
  background: #f8f9fa;
  .adminContainer {
    height: 100vh;
    width: 82%;
    float: right;
    font-family: $Roboto-font;
    .custom-manage-cases {
      padding: 10px;
      width: 100%;
      height: 100%;
      color: $black1;
      font-family: $Roboto-font;

      .custom-button {
        display: flex;

        .custom-btn-Case-blog {
        //  position: relative;

          .btnClickCreate {
            //position: relative;
            float: left;
            margin-right: 5px;
            // margin-top: 10px;
            text-align: center;
            line-height: 2;
            width: 100px;
            background: #b3d4df;
            border: 1px solid #b3d4df;
            border-radius: 5px;

            .btnCreate {
              border: none;
              background: none;
            }
          }

          .btnClickCreate:hover {
            padding: 1px;
            border: #cedde4;
            background: #cedde4;
          }

          .create-case-popup {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .custom-show-create-case-blog {
              overflow-x: hidden;
              z-index: 1001;
              position: absolute;
              width: 500px;
              height: 330px;
              background: $color7;
              border-bottom: 1px solid $color7;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              box-shadow: 0 5px 15px #d4d7da;

              h4 {
                font-size: 16px;
                margin: 10px;
              }

              .case-info-lbl-container {
                padding: 10px;

                .line-break {
                  border-top: 1px solid $gray1;
                }

                .caselabel {
                  padding: 5px;
                  height: 30px;
                  background-color: #dee9f3;
                  border-radius: 5px;
                  .case-info-lbl {
                    font-size: 14px;
                    padding: 10px;
                  }
                }

                .custom-Case-Container {
                  display: flex;
                  justify-content: space-between;
                  .case-owner-container {
                    padding: 20px;
                    .case-owner-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .case-owner-name {
                      font-size: 14px;
                      color: $black1;
                    }

                  }

                  .custom-select {
                    padding: 14px;

                    .status-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .status-lbl:before {
                      content:"*";
                      color: red;
                    }

                    .select-box {
                      width: 170px;
                      position: relative;
                    }

                    .select-box select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box:after{
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }
                }

                .caseNumber-Container {
                  display: flex;
                  justify-content: space-between;

                  .custom-case-number {
                    padding: 20px;

                    .case-number-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .case-number {
                      font-size: 14px;
                      color: $black1;
                    }
                  }

                  .custom-select-Prority {
                    padding: 14px;

                    .priority-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .select-box-priority {
                      width: 170px;
                      position: relative;
                    }

                    .select-box-priority select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box-priority:after{
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box-priority select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box-priority select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }
                }

                .contactName-Container {
                  display: flex;
                  justify-content: space-between;

                  .custom-contactName {
                    width: 350px;
                    padding: 20px;
                    margin-top: -31px;

                    .contact-name-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .custom-Contact-Name-icon {
                      display: flex;
                      .contactNameIcon {
                        float: left;
                        margin-right: 5px;
                        .contact-image {
                          float: right;
                          width: 20px;
                          height: 20px;
                        }
                      }
                    }

                    .search-input-contactName form input{
                      font-size: 12px;
                      color: $black1;
                      border: none;
                      outline: none;
                    }

                    .search-input-contactName form .fi-rr-search{
                      margin-left: 50px;
                    }

                    .select-box-contactName select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }
                  }

                  .custom-select-CaseOrigin {
                    padding: 13px;
                    margin-top: -25px;

                    .origin-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .origin-lbl:before {
                      content:"*";
                      color: red;
                    }

                    .select-box-origin {
                      width: 170px;
                      position: relative;
                    }

                    .select-box-origin select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box-origin:after{
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box-origin select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box-origin select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }
                }

                .accountNumber-Container {
                  display: flex;
                  justify-content: space-between;

                  .custom-account-number {
                    width: 282px;
                    padding: 21px;
                    margin-top: -31px;

                    .account-number-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .custom-Account-Name-icon {
                      display: flex;
                      .accountNameIcon {
                        float: left;
                        margin-right: 5px;
                        .account-image {
                          float: right;
                          width: 20px;
                          height: 20px;
                        }

                      }
                    }
                  }
                }

                .type-Container {
                  display: flex;
                  justify-content: space-between;

                  .custom-select-type {
                    padding: 14px;
                    margin-top: -20px;

                    .type-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .select-box-type {
                      width: 170px;
                      position: relative;
                    }

                    .select-box-type select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box-type:after{
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box-type select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box-type select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }
                }
              }

              .web-info-lbl-container {
                padding: 10px;

                .Weblabel {
                  padding: 5px;
                  height: 30px;
                  background-color: #dee9f3;
                  border-radius: 5px;
                  .web-info-lbl {
                    font-size: 14px;
                    padding: 10px;
                  }
                }

                .web1-Container {
                  display: flex;
                  justify-content: space-between;

                  .custom-web-email {
                    padding: 14px;

                    .web-email-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                   form {
                    .web-email-input {
                      padding: 9px 1px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                      background: $color7;
                      outline: none;
                      text-indent: 10px;
                    }

                    .web-email-input:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }
                   }
                  }

                  .custom-web-company {
                    padding: 14px;

                    .web-company-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    form {
                      .web-company-input {
                        padding: 9px 1px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background: $color7;
                        outline: none;
                        text-indent: 10px;
                      }

                      .web-company-input:focus {
                        border: 1px solid #54adf7;
                        box-shadow: 0 0 3px #54adf7;
                      }
                    }
                  }
                }

                .web2-Container {
                  display: flex;
                  justify-content: space-between;

                  .custom-web-name {
                    padding: 14px;

                    .web-name-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                  form {
                    .web-name-input {
                      padding: 9px 1px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                      background: $color7;
                      outline: none;
                      text-indent: 10px;
                    }

                    .web-name-input:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }
                  }
                }

                .custom-web-phone {
                  padding: 14px;

                  .web-phone-lbl {
                    font-size: 11px;
                    color: $black1;
                  }

                 form {
                  .web-phone-input {
                    padding: 9px 1px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background: $color7;
                    outline: none;
                    text-indent: 10px;
                  }

                  .web-phone-input:focus {
                    border: 1px solid #54adf7;
                    box-shadow: 0 0 3px #54adf7;
                  }
                 }
                }
              }
            }

              .additional-info-lbl-container {
                padding: 10px;

                .additionLabel {
                  padding: 5px;
                  height: 30px;
                  background-color: #dee9f3;
                  border-radius: 5px;
                  .addtional-info-lbl {
                    font-size: 14px;
                    padding: 10px;
                  }
                }

                .custom-addition-Container1 {
                  display: flex;
                  justify-content: space-between;
                  .product-container {
                    padding: 14px;
                    .product-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .select-box-product {
                      width: 170px;
                      position: relative;
                    }

                    .select-box-product select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box-product:after{
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box-product select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box-product select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }

                  .custom-engineer-req-num {
                    padding: 14px;

                    .engineer-num-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                   form {
                    .engineer-num-input {
                      padding: 9px 1px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                      background: $color7;
                      outline: none;
                      text-indent: 10px;
                    }

                    .engineer-num-input:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }
                   }
                  }
                }

                .custom-addition-Container2 {
                  display: flex;
                  justify-content: space-between;
                  .potential-container {
                    padding: 14px;
                    .potential-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .select-box-potential {
                      width: 170px;
                      position: relative;
                    }

                    .select-box-potential select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box-potential:after{
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box-potential select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box-potential select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }

                  .violation-container {
                    padding: 14px;
                    .violation-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .select-box-violation {
                      width: 170px;
                      position: relative;
                    }

                    .select-box-violation select{
                      height: 35px;
                      padding: 10px 15px;
                      line-height: 15px;
                      font-size: 12px;
                      width: 100%;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                     -webkit-appearance: none;
                      appearance: none;
                    }

                    .select-box-violation:after {
                      content: "";
                      position: absolute;
                      right: 8px;
                      top: 50%;
                      margin-top: -4px;
                      border-top: 8px solid #ccc;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      pointer-events: none;
                    }

                    .select-box-violation select:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }

                    .select-box-violation select option {
                      font-size: 14px;
                      line-height: 200%;
                    }
                  }
                }
              }

              .desc-info-lbl-container {
                padding: 10px;

                .descLabel {
                  padding: 5px;
                  height: 30px;
                  background-color: #dee9f3;
                  border-radius: 5px;
                  .desc-info-lbl {
                    font-size: 14px;
                    padding: 10px;
                  }
                }

                .DESC-Container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  .custom-subject {
                    padding: 6px;
                    .desc-subject-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                   form {
                    .desc-subject-input {
                      width: 430px;
                      height: 35px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                      background: $color7;
                      outline: none;
                      text-indent: 10px;
                    }

                    .desc-subject-input:focus {
                      border: 1px solid #54adf7;
                      box-shadow: 0 0 3px #54adf7;
                    }
                   }
                  }

                  .custom-desc-textarea {
                    padding: 3px;

                    .desc-lbl {
                      font-size: 11px;
                      color: $black1;
                    }

                    .textarea-container {
                      textarea {
                        width: 430px;
                        height: 70px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background: $color7;
                        outline: none;
                        padding: 10px;
                      }

                      textarea:focus {
                        border: 1px solid #54adf7;
                        box-shadow: 0 0 3px #54adf7;
                      }
                    }
                  }
                }
              }
            }

            .custom-button-Container {
              position: absolute;
              height: 70px;
              z-index: 1001;
              position: absolute;
              width: 500px;
              margin-top: 330px;
              background: $color7;
              border-top: 1px solid $color7;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              box-shadow: 0 -1px 5px #ffffff ,0 1px 5px #d4d7da;

              .custom-button-Click {
                display: flex;
                float: right;
                margin-right: 20px;
                .btn-ClickCancel {
                  margin-top: 17px;
                  float: left;
                  margin-right: 15px;
                  width: 65px;
                  height: 30px;
                  text-align: center;
                  line-height: 2.2;
                  border: 1px solid #779bee;
                  border-radius: 5px;
                  .btn-Cancel {
                    color: #779bee;
                    background: none;
                    border: none;
                  }
                }

                .btn-ClickCancel:hover {
                  background: #779bee;
                }

                .btn-ClickSave {
                  float: right;
                  margin-top: 17px;
                  width: 60px;
                  height: 30px;
                  text-align: center;
                  line-height: 2.2;
                  background: #779bee;
                  border-radius: 5px;
                  .btn-Save {
                    color: $color7;
                    background: none;
                    border: none;
                  }
                }

                .btn-ClickSave:hover {
                  background: #6e88c4;
                }
              }
            }
          }
        }

        .custom-btn-Assign-blog {
          position: relative;
          .btnClickAssign {
            float: right;
            // margin-top: -10px;
            text-align: center;
            line-height: 2;
            width: 80px;
            background: #b3d4df;
            border: 1px solid #b3d4df;
            border-radius: 5px;
            .btnAssignCase {
              border: none;
              background: none;
            }
          }

          .btnClickAssign:hover {
            padding: 1px;
            border: #cedde4;
            background: #cedde4;
          }

          .custom-assign-popup {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .custom-show-assign-blog {
              z-index: 1001;
              position: absolute;
              width: 400px;
              height: 330px;
              background: $color7;
              border-bottom: 1px solid $color7;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              box-shadow: 0 5px 15px #d4d7da;

              .title-assign-container {

                h4 {
                  font-size: 14px;
                  margin: 10px;
                }

                .line-break {
                  border-top: 1px solid $gray1;
                }
              }

              .select-agent-toAssign-container {
                padding: 5px;
                display: flex;
                justify-content: space-between;

                .assign-lbl-container {
                  padding: 4px;

                  .agents-lbl {
                    font-size: 11px;
                    margin-right: 20px;
                    color: $black1;
                  }

                  .custom-select-agent {
                    width: 150px;
                    position: relative;
                  }

                  .custom-select-agent select {
                    height: 30px;
                    padding: 1px 15px;
                    line-height: 15px;
                    font-size: 12px;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                   -webkit-appearance: none;
                    appearance: none;
                  }

                  .custom-select-agent select option {
                    font-size: 13px;
                  }

                  .custom-select-agent:after {
                    content: "";
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    margin-top: -4px;
                    border-top: 8px solid #ccc;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    pointer-events: none;
                  }

                  .custom-select-agent select:focus {
                    border: 1px solid #54adf7;
                    box-shadow: 0 0 3px #54adf7;
                  }

                  .custom_department_IT {
                    overflow-x: hidden;
                    width: 382px;
                    height: 200px;
                    background: #f8f9fa;
                    border-radius: 7px;
                    padding: 10px 30px;
                    margin-top: 10px;
                    box-shadow: 0 0 5px #d4d7da;


                    .dept_IT_lbl {
                      font-size: 12px;
                      color: #54adf7;
                    }

                    .department_IT {
                      padding: 5px;
                      margin-top: 10px;
                    }

                    .department_IT:hover {
                      background: #e2ece9;
                      border-radius: 5px;

                    }
                    .IT_agent_name {
                      font-size: 12px;
                    }
                  }

                  .custom_department_account {
                    overflow-x: hidden;
                    width: 382px;
                    height: 200px;
                    background: #f8f9fa;
                    border-radius: 7px;
                    padding: 10px 30px;
                    margin-top: 10px;
                    box-shadow: 0 0 5px #d4d7da;


                    .dept_acc_lbl {
                      font-size: 12px;
                      color: #54adf7;
                    }

                    .department_acc {
                      padding: 5px;
                      margin-top: 10px;
                    }

                    .department_acc:hover {
                      background: #e2ece9;
                      border-radius: 5px;

                    }
                    .account_agent_name {
                      font-size: 12px;
                    }
                  }

                  .custom_department_payroll {
                    overflow-x: hidden;
                    width: 382px;
                    height: 200px;
                    background: #f8f9fa;
                    border-radius: 7px;
                    padding: 10px 30px;
                    margin-top: 10px;
                    box-shadow: 0 0 5px #d4d7da;


                    .dept_payroll_lbl {
                      font-size: 12px;
                      color: #54adf7;
                    }

                    .department_payroll {
                      padding: 5px;
                      margin-top: 10px;
                    }

                    .department_payroll:hover {
                      background: #e2ece9;
                      border-radius: 5px;

                    }
                    .payroll_agent_name {
                      font-size: 12px;
                    }
                  }
                }

                .custom-Button {
                  display: flex;
                  position: absolute;
                  margin-left: 230px;
                  margin-top: 25px;

                  .click-cancel2 {
                    float: left;
                    margin-right: 10px;
                    text-align: center;
                    line-height: 2;
                    width: 70px;
                    height: 28px;
                    background: $color7;
                    border: 1px solid #779bee;
                    border-radius: 5px;

                    .btn-cancel2 {
                      border: none;
                      background: none;
                      color: #779bee;
                    }
                  }

                  .click-cancel2:hover {
                    background: #6e88c4;
                  }

                  .click-assign {
                    float: right;
                    text-align: center;
                    line-height: 2;
                    width: 70px;
                    height: 28px;
                    background: #779bee;
                    border-radius: 5px;

                    .btn-assign {
                      border: none;
                      background: none;
                      color: $color7;
                    }
                  }

                  .click-assign:hover {
                    background: #6e88c4;
                  }
                }
              }
            }
          }
        }
      }

      .custom-table {
        position: relative;
        .invisible-blur-container {
          display: none;
          background: rgba(255,255,255,0.3);
          -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(2px);
          position: absolute;
          z-index: 1000;
          width: 100%;
          height: 100%;
        }

        .show-invisible-blur-container {
          display: block !important;
        }
        .mat-tab-label .mat-tab-label-content {
          font-size: 12px;
        }
        table {
          width: 100%;
          border-collapse: collapse;
          box-shadow: 0 5px 10px #eff0f1;
          background: $color7;
          text-align: left;
          overflow: hidden;

          thead {
            width: 100%;
            box-shadow: 0 5px 10px #eff0f1;
          }

          tr {
            box-shadow: 0 1px 1px #ebeef1;

          }

          th {
            padding:  0.5rem 1rem;
            background-color: #dee2ff;
            line-height: 2.3;
            font-size: 13px;
          }

          td {
            padding:  0.8rem 1rem;
            line-height: 2;
            font-size: 13px;
          }
        }
      }
    }
  }
}
