@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$color1: #a3e7f5;
$color2: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );;
$color3: #48cae4;
$color4: #538db6;
$color5: #f8f9fa;
$color6: #BFC3C7;

$black1: #333;


$primary-font: 'Lato', sans-serif;