@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');

$primary-font: 'Lato', sans-serif;
$Roboto-font: 'Roboto';

$color1: #a3e7f5;
$color2: #6fa7f0;
$color3: #b0c4df;
$color4: #108b43;
$color5: #fafafb;
$color6: #BFC3C7;
$color7: #ffffff;
$color8: #0FAE51;
$color9: #0167D6;
$color10: #1a61ad;
$color11: #dfebf5;


$black1: #333;
$black2: #0a0908;
$black3: #706e6b;

$gray1: #c8c6c5;
$gray2: grey;
$gray3: #818181;
$gray4: #e1e2e4;
$gray5: rgb(62,62,60);

$primary-color: #02A1FF;
$secondary-color: #E0F4FF;
$grey-color: #9AA8BB;
$lighter-grey-color: #F4F6F8;

// -----------------------------------------------------------------------------------------------------------------

$success-bg-color: #d4edda;
$success-border-color: #c3e6cb;
$success-text-color: #155724;

$warning-bg-color: #fff3cd;
$warning-border-color: #ffeeba;
$warning-text-color: #856404;

$failed-bg-color: #f8d7da;
$failed-border-color: #f5c6cb;
$failed-text-color: #721c24;

$information-bg-color: #D1ECF1;
$information-border-color: #BEE5EB;
$information-text-color: #0c5460;

$question-bg-color: #cce5ff;
$question-border-color: #b8daff;
$question-text-color: #004085;

// -----------------------------------------------------------------------------------------------------------------
