@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

$color1: #a3e7f5;
$color2: #6fa7f0;
$color3: #b0c4df;
$color4: #108b43;
$color5: #fafafb;
$color6: #BFC3C7;
$color7: #ffffff;
$color8: #0FAE51;
$color9: #0167D6;
$color10: #1a61ad;
$color11: #dfebf5;


$black1: #333;
$black2: #0a0908;
$black3: #706e6b;

$gray1: #c8c6c5;
$gray2: grey;
$gray3: #818181;
$gray4: #e1e2e4;
$gray5: rgb(62,62,60);


$primary-font: 'Lato', Arial, sans-serif;
$Roboto-font: 'Roboto'
