<div class="header-wrapper normall">
  <div class="header-container">
    <div [routerLink]="['/customer-ui/home']" class="logo-image-container">
      <img [src]="dummy.PATH" alt="logo">
    </div>
    <!-- <div class="menu-container">
      <button class="menu-item-button" [routerLink]="['/customer-ui/case/list']" [routerLinkActive]="'active'">

        Cases
      </button>
      <button class="menu-item-button" [routerLink]="['/customer-ui/case/create']" [routerLinkActive]="'active'">
        Create
      </button>

    </div> -->
    <div class="header-right-wrapper">
      <button mat-flat-button class="image-profile" matBadge="7" [matBadgeHidden]="hidden" matBadgeSize="small"
        [matMenuTriggerFor]="menu" matBadgeColor="warn" (click)="toggleBadgeVisibility()"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="m-item">notification</button>
        <button mat-menu-item class="m-item">logout</button>
      </mat-menu>
    </div>
  </div>
</div>
