<div class="header-wrapper">
  <div class="header-container">
    <div [routerLink]="['/customer-ui/home']" class="image-container">
      <img [src]="dummy.PATH" alt="logo">
    </div>
    <div class="menu-container">

      <button class="menu-item-button active">
        <!-- [routerLink]="['/customer-ui/home']" -->
        Dashboards
      </button>
      <button class="menu-item-button">
        Case
      </button>
      <button class="menu-item-button">
        Chat
      </button>
    </div>
    <div class="user-profile-wrapper">

      <button mat-fab class="user-profile"></button>
    </div>
  </div>
</div>
