<div class="detailAccountContainer">
  <div class="accountSidebarContainer">
    <router-outlet name='child1'></router-outlet>
  </div>

  <div class="customAccountInfomation">
    <div class="accountInfoContainer">
      <router-outlet name='child2'></router-outlet>
    </div>

    <div class="customAccountDetailChatter">
      <div class="accountDetailsContainer">
        <router-outlet name='child3'></router-outlet>
      </div>

      <div class="accountChatterContainer">
        <router-outlet name='child4'></router-outlet>
      </div>
    </div>
  </div>
</div>

